
{% load static %}
{% load credit %}
{% load i18n %}

<html>

  <head>
     <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="../mtp_api/assets/javascripts/the-dashboard.js"> </script>
    <title>Google Charts Example</title>

  </head>
  <body>
    <div id="divChart"></div>
  </body>
</html>

<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChartTransaction);
        google.charts.setOnLoadCallback(drawChartAmount);
        google.charts.setOnLoadCallback(drawDonut);
        google.charts.setOnLoadCallback(drawWeeklySatisfaction);
        google.charts.setOnLoadCallback(drawMonthlySatisfaction);
        google.charts.setOnLoadCallback(drawYearlySatisfaction);
        ;

        function drawChartTransaction() {
          var data = google.visualization.arrayToDataTable([
            ['Month', 'Credits', 'Transactions', 'Post'],
            {% for d in data reversed %}
              ['{{d.start_of_month|date:"F Y"}}', {{d.credit_count}}, {{d.transaction_count}}, {{d.transaction_by_post}}],
            {% endfor %}
            ]);

          var options = {
            title: 'Digital Take Up Transactions',
            width: 800,
            height: 400,
            bar: {groupWidth: "85%"},
            legend: { position: "none" },
              };

          var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_1'));
          chart.draw(data, options);
            }

            function drawChartAmount() {
              var data = google.visualization.arrayToDataTable([
                ['Month', 'Credits', 'Transactions'],
                {% for d in data reversed %}
                  ['{{d.start_of_month|date:"F Y"}}', {{d.queryset_credit_amount}}, {{d.queryset_transaction_amount}}],
                {% endfor %}
                ]);

              var options = {
                title: 'Digital Take up Money',
                width: 800,
                height: 400,
                bar: {groupWidth: "85%"},
                legend: { position: "none" },
                  };

              var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_2'));
              chart.draw(data, options);
                }


            function drawDonut()  {
              var data = google.visualization.arrayToDataTable([
                ['Sent Money', 'Number'],
                ['Credit', {{this_month_credit}}],
                ['Transactions', {{this_months_transaction}}],
                ['Post', {{this_months_transaction_by_post}}],
              ]);

              var options = {
                title: 'This Months Uptake',
                pieHole: 0.4,
              };

              var chart = new google.visualization.PieChart(document.getElementById('chart_div_3'));
              chart.draw(data, options);
            }


            function drawWeeklySatisfaction() {
              var data = google.visualization.arrayToDataTable([
                ["Ratings", "Vote", { role: "style" } ],
                ["Rating 1", {{user_satisfaction.weekly_ratings.rating_1}}, "#b87333"],
                ["Rating 2", {{user_satisfaction.weekly_ratings.rating_2}}, "silver"],
                ["Rating 3", {{user_satisfaction.weekly_ratings.rating_3}}, "gold"],
                ["Rating 4", {{user_satisfaction.weekly_ratings.rating_4}}, "color: #e5e4e2"],
                ["Rating 5", {{user_satisfaction.weekly_ratings.rating_1}}, "color: #e5e4e2"]
              ]);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                             { calc: "stringify",
                               sourceColumn: 1,
                               type: "string",
                               role: "annotation" },
                             2]);

            var options = {
              title: "Satisfaction rates over the week",
              width: 600,
              height: 400,
              bar: {groupWidth: "95%"},
              legend: { position: "none" },
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_4'));
            chart.draw(view, options);
          }

          function drawMonthlySatisfaction() {
              var data = google.visualization.arrayToDataTable([
                ["Ratings", "Vote", { role: "style" } ],
                ["Rating 1", {{user_satisfaction.monthly_ratings.rating_1}}, "#b87333"],
                ["Rating 2", {{user_satisfaction.monthly_ratings.rating_2}}, "silver"],
                ["Rating 3", {{user_satisfaction.monthly_ratings.rating_3}}, "gold"],
                ["Rating 4", {{user_satisfaction.monthly_ratings.rating_4}}, "color: #e5e4e2"],
                ["Rating 5", {{user_satisfaction.monthly_ratings.rating_1}}, "color: #e5e4e2"]
              ]);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                             { calc: "stringify",
                               sourceColumn: 1,
                               type: "string",
                               role: "annotation" },
                             2]);

            var options = {
              title: "Satisfaction rates over the month",
              width: 600,
              height: 400,
              bar: {groupWidth: "95%"},
              legend: { position: "none" },
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_5'));
            chart.draw(view, options);
          }

          function drawYearlySatisfaction() {
              var data = google.visualization.arrayToDataTable([
                ["Ratings", "Vote", { role: "style" } ],
                ["Rating 1", {{user_satisfaction.yearly_ratings.rating_1}}, "#b87333"],
                ["Rating 2", {{user_satisfaction.yearly_ratings.rating_2}}, "silver"],
                ["Rating 3", {{user_satisfaction.yearly_ratings.rating_3}}, "gold"],
                ["Rating 4", {{user_satisfaction.yearly_ratings.rating_4}}, "color: #e5e4e2"],
                ["Rating 5", {{user_satisfaction.yearly_ratings.rating_1}}, "color: #e5e4e2"]
              ]);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                             { calc: "stringify",
                               sourceColumn: 1,
                               type: "string",
                               role: "annotation" },
                             2]);

            var options = {
              title: "Satisfaction rates over the year",
              width: 600,
              height: 400,
              bar: {groupWidth: "95%"},
              legend: { position: "none" },
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_6'));
            chart.draw(view, options);
          }

        </script>
  </head>
  <body>
    <h1>{% trans 'Analytics Dashboard - MTP' %}</h1>

  <table>
    <tr>
        <td><div id="chart_div_1" style="width: 40%; height: 500px;"></div></div></td>
        <td><div id="chart_div_2" style="width: 40%; height: 500px;"></div></td>
    </tr>
  </table>
    <div id="chart_div_3" style="width: 900px; height: 500px;"></div>
    <div id="chart_div_4" style="width: 100%; height: 500px;"></div>
    <div id="chart_div_4" style="width: 100%; height: 500px;"></div>
    <div id="chart_div_5" style="width: 100%; height: 500px;"></div>
    <div id="chart_div_6" style="width: 100%; height: 500px;"></div>

    <div>
      <h2>{% trans 'BACS Error Rate' %}</h2>
      {% if this_months_pecentage_of_errors > last_months_percentage_of_errors %}
        {{this_months_pecentage_of_errors}}% +
      {% elif this_months_pecentage_of_errors < last_months_percentage_of_errors %}
         {{this_months_pecentage_of_errors}}% -
      {% endif %}

      <p>{% trans 'Past month' %}</p>
      <p>{{last_year_same_time_percentage_of_errors}}%</p>
      <p>{% trans 'Last year same time' %}</p>
   </div>
  </body>

