
{% load static %}

<html>

  <head>
     <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="../mtp_api/assets/javascripts/the-dashboard.js"> </script>
    <title>Google Charts Example</title>

  </head>
  <body>
    <div id="divChart"></div>
  </body>
</html>

<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChartTransaction);
        google.charts.setOnLoadCallback(drawChartAmount);
        google.charts.setOnLoadCallback(drawChartPercentage);
        google.charts.load("current", {packages:["calendar"]});
        google.charts.setOnLoadCallback(drawChartCalendarCredit);



        function drawChartTransaction() {
          var data = google.visualization.arrayToDataTable([
            ['Month', 'Credits', 'Transactions', 'Post'],
            {% for d in data reversed %}
              ['{{d.start_of_month|date:"F Y"}}', {{d.credit_count}}, {{d.transaction_count}}, {{d.transaction_by_post}}],
            {% endfor %}
            ]);

          var options = {
            title: 'Digital Take Up Transactions',
            width: 800,
            height: 400,
            bar: {groupWidth: "85%"},
            legend: { position: "none" },
              };

          var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_1'));
          chart.draw(data, options);
            }

            function drawChartAmount() {
              var data = google.visualization.arrayToDataTable([
                ['Month', 'Credits', 'Transactions'],
                {% for d in data reversed %}
                  ['{{d.start_of_month|date:"F Y"}}', {{d.queryset_credit_amount}}, {{d.queryset_transaction_amount}}],
                {% endfor %}
                ]);

              var options = {
                title: 'Digital Take up Money',
                width: 800,
                height: 400,
                bar: {groupWidth: "85%"},
                legend: { position: "none" },
                  };

              var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_2'));
              chart.draw(data, options);
                }

          function drawChartPercentage() {
              var data = google.visualization.arrayToDataTable([
                ['Month', 'Credits', 'Transactions', 'Post'],
                {% for d in data reversed %}
                  ['{{d.start_of_month|date:"F Y"}}', {{d.percent_of_credit_count}}, {{d.percent_of_transaction_count}}, {{d.percent_of_post}}],
                {% endfor %}
                ]);

              var options = {
                title: 'Digital take up as a percentage',
                width: 1200,
                height: 400,
                legend: { position: 'top', maxLines: 3 },
                bar: { groupWidth: '75%' },
                isStacked: true,
                  };

              var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_3'));
              chart.draw(data, options);
                }


          function drawChartCalendarCredit() {
              var dataTable = new google.visualization.DataTable();
                 dataTable.addColumn({ type: 'date', id: 'Date' });
                 dataTable.addColumn({ type: 'number', id: 'Credit' } );
                 dataTable.addRows([
                  {% for d in data reversed %}
                    [new Date({{d.start_of_month|date:"o, n, w"}}), {{ d.credit_count }}],
                  {% endfor %}

                  ]);

              var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

              var options = {
                 title: "Credit Over the Year",
                 height: 350,
                 };

               chart.draw(dataTable, options);
               }
        </script>
  </head>
  <body>
    <h1>Analytics Dashboard - MTP</h1>

  <table>
    <tr>
        <td><div id="chart_div_1" style="width: 40%; height: 500px;"></div></div></td>
        <td><div id="chart_div_2" style="width: 40%; height: 500px;"></div></td>
    </tr>
  </table>
    <div id="chart_div_3" style="width: 100%; height: 500px;"></div>
    <div id="chart_div_4" style="width: 100%; height: 500px;"></div>
    <div id="calendar_basic" style="width: 1000px; height: 350px;"></div>
    <div>
      <h1>User Satisfaction</h1>
      {% if user_satisfaction.last > user_satisfaction.previous %}
        {{user_satisfaction.last}} +
      {% elif user_satisfaction.last < user_satisfaction.previous %}
         user_satisfaction.previous %} -
      {% endif %}
      <p>Past month</p>


      {{user_satisfaction.year_ago}}
      <p>Last year same time</p>

    <!--  Last: {{user_satisfaction.last}} {{user_satisfaction.year_ago}} Previous: {{user_satisfaction.previous}} -->

   </div>
  </body>

