{% load static %}
{% load credit %}
{% load i18n %}
{% load humanize %}

<html>
  <head>
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

   <link href="{% static 'stylesheets/the_dashboard.css' %}" type="text/css" media="all" rel="stylesheet" />

    <title>Google Charts Example</title>

    <script>
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChartTransaction);
      google.charts.setOnLoadCallback(drawChartAmount);
      google.charts.setOnLoadCallback(drawChartDisbursmentCount);
      google.charts.setOnLoadCallback(drawChartDisbursmentAmount);
      google.charts.setOnLoadCallback(drawDonut);
      google.charts.setOnLoadCallback(drawWeeklySatisfaction);
      google.charts.setOnLoadCallback(drawMonthlySatisfaction);
      google.charts.setOnLoadCallback(drawYearlySatisfaction);


      var sharedOptions = {
          titleTextStyle: {
            fontSize: 40
          },
        fontSize: 30,
        bold: true,

        hAxis: {
          title: 'Months',
          titleTextStyle: {
            fontSize: 30,
            bold: true,
          }
        },

        vAxis:{
          titleTextStyle: {
            fontSize: 30,
            bold: true,
          },
          textStyle: {
            bold: true,
            fontSize: 30,
          }
        },

          backgroundColor: '#fcfaf4',
          width: 1300,
          height: 500,
          legend: {
            position: 'top'
          },

          bar: {
            groupWidth: '80%'
          }
        };


      function drawChartTransaction() {
        var data = google.visualization.arrayToDataTable([
          ['Month', 'Debit', 'BankTransfer', 'Post'],
          {% for d in data reversed %}
            ['{{d.start_of_month|date:"N Y"}}', {{d.credit_count}}, {{d.transaction_count}}, {{d.transaction_by_post}}],
          {% endfor %}
          ]);

          var chart = new google.visualization.ColumnChart(document.getElementById('transaction_bar_chart'));
          var options = Object.assign({title: 'Number of monthly credits'}, sharedOptions);
          options.vAxis.title = 'Credits';
          chart.draw(data, options);
        }

      function drawChartAmount() {
        var data = google.visualization.arrayToDataTable([
          ['Month', 'Debit', 'BankTransfer'],
          {% for d in data reversed %}
            ['{{d.start_of_month|date:"N Y"}}', {{d.queryset_credit_amount}}, {{d.queryset_transaction_amount}}],
          {% endfor %}
          ]);

        var options = {
          legend: { position: 'top' },
          title: 'Amount of money credited',
          fontSize: 16,
          vAxis: { title: 'Money (£)'},

        };


          var chart = new google.visualization.ColumnChart(document.getElementById('transaction_bar_chart_of_amount'));
          var options = Object.assign({title: 'Amount of money credited'}, sharedOptions);
          options.vAxis.title = 'Money(£)';
          chart.draw(data, options);
        }


      function drawChartDisbursmentCount() {
        var data = google.visualization.arrayToDataTable([
          ['Month', 'Cheque', 'BankTransfer'],
          {% for d in data reversed %}
            ['{{d.start_of_month|date:"N Y"}}', {{d.disbursement_cheque_count}}, {{d.disbursement_bank_transfer_count}}],
          {% endfor %}
          ]);

          var chart = new google.visualization.ColumnChart(document.getElementById('disbursements_count_chart'));
          var options = Object.assign({title: 'Number of monthly disbursements'}, sharedOptions);
          options.vAxis.title = 'Disbursments';
          chart.draw(data, options);
        }

        function drawChartDisbursmentAmount() {
          var data = google.visualization.arrayToDataTable([
            ['Month', 'Cheque', 'BankTransfer'],
            {% for d in data reversed %}
              ['{{d.start_of_month|date:"N Y"}}', {{d.disbursement_cheque_amount}}, {{d.disbursement_bank_transfer_amount}}],
            {% endfor %}
            ]);

          var options = {
            legend: { position: 'top' },
            title: 'Amount of money disbursed',
            fontSize: 16,
            vAxis: { title: 'Money (£)'},
            };


          var chart = new google.visualization.ColumnChart(document.getElementById('disbursements_amount_chart'));
          var options = Object.assign({title: 'Amount of money disbursed'}, sharedOptions);
          options.vAxis.title = 'Money(£)';
          chart.draw(data, options);
        }


        function drawDonut()  {
          var data = google.visualization.arrayToDataTable([
            ['Sent Money', 'Number'],
            ['Debit', {{this_month_credit}}],
            ['Bank Transfer', {{this_months_transaction}}],
            ['Post', {{this_months_transaction_by_post}}],
          ]);

          var options = {
            backgroundColor: '#fcfaf4',
            titlePosition: 'center',
            fontSize: 16,
            width: 955,
            height: 300,
            pieHole: 0.5,
            pieSliceText: 'label',
            pieStartAngle: 100,
            pieSliceTextStyle: {
            color: 'black',
          },
            legend: { position: "none" },
            is3D: true,

          };

          var chart = new google.visualization.PieChart(document.getElementById('donut_of_transaction'));
          chart.draw(data, options);
        }


         var sharedOptionsSatisaction = {
            titleTextStyle: {
              fontSize: 30
            },

            vAxis:{
              textStyle: {
                bold: true,
                fontSize: 20,
              }
            },
            width: 956,
            height: 320,
            fontSize: 18,
            bar: {groupWidth: "95%"},
            legend: { position: "none" },
          };

        function drawWeeklySatisfaction() {
          var data = google.visualization.arrayToDataTable([
            ["Ratings", "Vote", { role: "style" } ],
            ["😡", {{user_satisfaction.weekly_ratings.rating_1}}, "green"],
            ["🙁", {{user_satisfaction.weekly_ratings.rating_2}}, "purple"],
            ["😑", {{user_satisfaction.weekly_ratings.rating_3}}, "gold"],
            ["😊", {{user_satisfaction.weekly_ratings.rating_4}}, "red"],
            ["😄", {{user_satisfaction.weekly_ratings.rating_5}}, "blue"]
          ]);

          var view = new google.visualization.DataView(data);
          view.setColumns([0, 1,
                           { calc: "stringify",
                             sourceColumn: 1,
                             type: "string",
                             role: "annotation" },
                           2]);


          var options = Object.assign({title: 'By week'}, sharedOptionsSatisaction);
          var chart = new google.visualization.ColumnChart(document.getElementById('satisfaction_week_bar_chart'));
          chart.draw(view, options);
        }

        function drawMonthlySatisfaction() {
            var data = google.visualization.arrayToDataTable([
              ["Ratings", "Vote", { role: "style" } ],
              ["😡", {{user_satisfaction.monthly_ratings.rating_1}}, "green"],
              ["🙁", {{user_satisfaction.monthly_ratings.rating_2}}, "purple"],
              ["😑", {{user_satisfaction.monthly_ratings.rating_3}}, "gold"],
              ["😊", {{user_satisfaction.monthly_ratings.rating_4}}, "red"],
              ["😄", {{user_satisfaction.monthly_ratings.rating_5}}, "blue"]
            ]);

          var view = new google.visualization.DataView(data);
          view.setColumns([0, 1,
                           { calc: "stringify",
                             sourceColumn: 1,
                             type: "string",
                             role: "annotation" },
                           2]);

          var options = Object.assign({title: 'By month'}, sharedOptionsSatisaction);
          var chart = new google.visualization.ColumnChart(document.getElementById('satisfaction_month_bar_chart'));
            chart.draw(view, options);
        }

        function drawYearlySatisfaction() {
            var data = google.visualization.arrayToDataTable([
              ["Ratings", "Vote", { role: "style" } ],
              ["😡", {{user_satisfaction.yearly_ratings.rating_1}}, "green"],
              ["🙁", {{user_satisfaction.yearly_ratings.rating_2}}, "purple"],
              ["😑", {{user_satisfaction.yearly_ratings.rating_3}}, "gold"],
              ["😊", {{user_satisfaction.yearly_ratings.rating_4}}, "red"],
              ["😄", {{user_satisfaction.yearly_ratings.rating_5}}, "blue"]
            ]);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                             { calc: "stringify",
                               sourceColumn: 1,
                               type: "string",
                               role: "annotation" },
                             2]);

            var options = {
              width: 640,
              height: 320,
              backgroundColor: '#E4E4E4',
              title: "By year",
              titleTextStyle: {
                fontSize: 30
              },
              vAxis:{
                textStyle: {
                  bold: true,
                  fontSize: 20,
                }
              },

              fontSize: 18,
              bar: {groupWidth: "95%"},
              legend: { position: "none" },
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('satisfaction_year_bar_chart'));
            chart.draw(view, options);
        }
        </script>
  </head>
<body>



<table>
  <tr>
    <td class="chart-padding">
      <div id="transaction_bar_chart" ></div>
    </td>

    <td rowspan="2" class="digital-transaction-one-group">
      <div>
        <h1 class="digital-transaction-heading">
          Digital credits:
        </h1>
      </div>

      <div class="digital-transaction-individual-group-padding">
        <h2>this week:</h2>
        <h3>£{{total_digital_amount_recent_week|intcomma}}</h3>
        <h4>{{total_digital_transactions_recent_week}} credit recieved</h4>
      </div>

      <div class="digital-transaction-individual-group-padding">
        <h2>this month:</h2>
        <h3>£{{total_digital_amount_this_month|intcomma}}</h3>
        <h4>{{total_digital_transactions_this_month}} credit recieved</h4>
      </div>

      <div class="digital-transaction-align">
        <h2>this year:</h2>
        <h3>£{{total_amount_of_digital_transactions_this_year|intcomma}}</h3>
        <h4>{{total_number_of_digital_transactions_this_year}} credit recieved</h4>
      </div>
    </td>

  </tr>
  <tr>
    <td class="chart-padding">
      <div id="transaction_bar_chart_of_amount" ></div>
    </td>
  </tr>
</table>


<table>
  <tr>
    <td class="chart-padding">
      <div id="disbursements_count_chart" ></div>
    </td>

    <td rowspan="2" class="digital-transaction-one-group">
      <div>
        <h1 class="digital-transaction-heading">
          Digital disbursements:
        </h1>
      </div>

      <div class="digital-transaction-individual-group-padding">
        <h2>this week:</h2>
        <h3>£{{disbursement_amount_this_week_in_pounds|intcomma}}</h3>
        <h4>{{number_of_disbursement_previous_week}} disbursement sent</h4>
      </div>

      <div class="digital-transaction-individual-group-padding">
        <h2>this month:</h2>
        <h3>£{{this_months_disbursement_in_months_amount|intcomma}}</h3>
        <h4>{{this_months_disbursement_in_months_count}} disbursement sent</h4>
      </div>

      <div class="digital-transaction-align">
        <h2>this year:</h2>
        <h3>£{{disbursement_amount_this_year|intcomma}}</h3>
        <h4>{{number_of_disbursement_this_year}} disbursement sent</h4>
      </div>
    </td>

  </tr>
  <tr>
    <td class="chart-padding">
      <div id="disbursements_amount_chart" ></div>
    </td>
  </tr>
</table>





  <!-- <table>
    <thead>
      <tr>
        <th colspan="6"><h1>Analytics Dashboard - Prisoner Money</h1></th>
      </tr>
    </thead>

    <tr class="color_div_one">
      <td class="transaction_bar_space" colspan="3">
        <div id="transaction_bar_chart" ></div>
      </td>
      <td colspan="3">
        <div id="transaction_bar_chart_of_amount" ></div>
      </td>
    </tr>

    <tr class="three">
      <td colspan="2" class="error-rates">
        <h2>BACS error rate:</h2>
        <div>
          <h3>{{current_formated_month}}:</h3>
          <span>
            {% if this_months_pecentage_of_errors > last_months_percentage_of_errors %}
            {{this_months_pecentage_of_errors}}% +
            {% elif this_months_pecentage_of_errors < last_months_percentage_of_errors %}
            {{this_months_pecentage_of_errors}}% -
            {% endif %}
          </span>

          <h3>{{current_month_previous_year}}:</h3>
          <span>
            {{last_year_same_time_percentage_of_errors}}%
          </span>
         </div>
      </td>
      <td colspan="2" class="donut_space">
        <h3 class="donut-title">{{current_formated_month}} uptake</h3>
        <div id="donut_of_transaction"></div>
      </td>
      <td colspan="2">
        <h2 class="savings">£10m Saved</h2>
      </td>
    </tr>

   <tr class="one color_div_one">
     <th colspan="6">
       <h1>Senders user satisfaction rate</h1>
     </th>
   </tr>

    <tr class="three color_div_one">
      <td colspan="2">
        <div id="satisfaction_week_bar_chart"></div>
      </td>
      <td colspan="2">
        <div id="satisfaction_month_bar_chart"></div>
      </td>
      <td colspan="2">
        <div id="satisfaction_year_bar_chart"></div>
      </td>
    </tr>
  </table> -->
</body>

