
{% load static %}
{% load credit %}
{% load i18n %}

<html>

  <head>
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

   <link href="{% static 'stylesheets/the_dashboard.css' %}" type="text/css" media="all" rel="stylesheet" />

    <title>Google Charts Example</title>

    <script>
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChartTransaction);
        google.charts.setOnLoadCallback(drawChartAmount);
        google.charts.setOnLoadCallback(drawDonut);
        google.charts.setOnLoadCallback(drawWeeklySatisfaction);
        google.charts.setOnLoadCallback(drawMonthlySatisfaction);
        google.charts.setOnLoadCallback(drawYearlySatisfaction);
        ;

        function drawChartTransaction() {
          var data = google.visualization.arrayToDataTable([
            ['Month', 'Credits', 'Transactions', 'Post'],
            {% for d in data reversed %}
              ['{{d.start_of_month|date:"F Y"}}', {{d.credit_count}}, {{d.transaction_count}}, {{d.transaction_by_post}}],
            {% endfor %}
            ]);

          var options = {
            title: 'Digital Take Up Transactions',
            width: 700,
            height: 300,
            bar: {groupWidth: "85%"},
            legend: { position: "none" },
              };

          var chart = new google.visualization.ColumnChart(document.getElementById('transaction_bar_chart'));
          chart.draw(data, options);
            }

            function drawChartAmount() {
              var data = google.visualization.arrayToDataTable([
                ['Month', 'Credits', 'Transactions'],
                {% for d in data reversed %}
                  ['{{d.start_of_month|date:"F Y"}}', {{d.queryset_credit_amount}}, {{d.queryset_transaction_amount}}],
                {% endfor %}
                ]);

              var options = {
                title: 'Digital Take up Money',
                width: 700,
                height: 300,
                bar: {groupWidth: "85%"},
                legend: { position: "none" },
                  };

              var chart = new google.visualization.ColumnChart(document.getElementById('transaction_bar_chart_of_amount'));
              chart.draw(data, options);
                }


            function drawDonut()  {
              var data = google.visualization.arrayToDataTable([
                ['Sent Money', 'Number'],
                ['Credit', {{this_month_credit}}],
                ['Transactions', {{this_months_transaction}}],
                ['Post', {{this_months_transaction_by_post}}],
              ]);

              var options = {
                title: 'This Months Uptake',
                pieHole: 0.4,
                is3D: true
              };

              var chart = new google.visualization.PieChart(document.getElementById('donut_of_transaction'));
              chart.draw(data, options);
            }


            function drawWeeklySatisfaction() {
              var data = google.visualization.arrayToDataTable([
                ["Ratings", "Vote", { role: "style" } ],
                ["Rating 1", {{user_satisfaction.weekly_ratings.rating_1}}, "green"],
                ["Rating 2", {{user_satisfaction.weekly_ratings.rating_2}}, "purple"],
                ["Rating 3", {{user_satisfaction.weekly_ratings.rating_3}}, "gold"],
                ["Rating 4", {{user_satisfaction.weekly_ratings.rating_4}}, "red"],
                ["Rating 5", {{user_satisfaction.weekly_ratings.rating_1}}, "blue"]
              ]);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                             { calc: "stringify",
                               sourceColumn: 1,
                               type: "string",
                               role: "annotation" },
                             2]);

            var options = {
              chartArea:{left:10,top:10, width:"600px",height:"400px"},
              title: "Week",
              bar: {groupWidth: "95%"},
              legend: { position: "none" },
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('satisfaction_week_bar_chart'));
            chart.draw(view, options);
          }

          function drawMonthlySatisfaction() {
              var data = google.visualization.arrayToDataTable([
                ["Ratings", "Vote", { role: "style" } ],
                ["Rating 1", {{user_satisfaction.monthly_ratings.rating_1}}, "green"],
                ["Rating 2", {{user_satisfaction.monthly_ratings.rating_2}}, "purple"],
                ["Rating 3", {{user_satisfaction.monthly_ratings.rating_3}}, "gold"],
                ["Rating 4", {{user_satisfaction.monthly_ratings.rating_4}}, "red"],
                ["Rating 5", {{user_satisfaction.monthly_ratings.rating_1}}, "blue"]
              ]);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                             { calc: "stringify",
                               sourceColumn: 1,
                               type: "string",
                               role: "annotation" },
                             2]);

            var options = {
              chartArea:{left:10,top:10,width:"600px",height:"400px"},
              title: "Month",
              bar: {groupWidth: "95%"},
              legend: { position: "none" },
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('satisfaction_month_bar_chart'));
            chart.draw(view, options);
          }

          function drawYearlySatisfaction() {
              var data = google.visualization.arrayToDataTable([
                ["Ratings", "Vote", { role: "style" } ],
                ["Rating 1", {{user_satisfaction.yearly_ratings.rating_1}}, "green"],
                ["Rating 2", {{user_satisfaction.yearly_ratings.rating_2}}, "purple"],
                ["Rating 3", {{user_satisfaction.yearly_ratings.rating_3}}, "gold"],
                ["Rating 4", {{user_satisfaction.yearly_ratings.rating_4}}, "red"],
                ["Rating 5", {{user_satisfaction.yearly_ratings.rating_1}}, "blue"]
              ]);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                             { calc: "stringify",
                               sourceColumn: 1,
                               type: "string",
                               role: "annotation" },
                             2]);

            var options = {
              chartArea:{left:10,top:10,width:"600px",height:"400px"},
              title: "Year",
              bar: {groupWidth: "95%"},
              legend: { position: "none" },
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('satisfaction_year_bar_chart'));
            chart.draw(view, options);
          }

        </script>
  </head>
  <body>
    <h1>{% trans 'Analytics Dashboard - MTP' %}</h1>
  <table>
    <tr class="two">
      <td colspan="3"><div id="transaction_bar_chart" ></div></td>
      <td colspan="3"><div id="transaction_bar_chart_of_amount" ></div></td>
    </tr>
    <tr class="three">
      <td colspan="2">
        <h2>Monthly Take Up</h2>
        <div id="donut_of_transaction" ></div>
      </td>
      <td colspan="2">
        <h2>BACS error rate</h2>
        {% if this_months_pecentage_of_errors > last_months_percentage_of_errors %}
          {{this_months_pecentage_of_errors}}% +
          {% elif this_months_pecentage_of_errors < last_months_percentage_of_errors %}
          {{this_months_pecentage_of_errors}}% -
          {% endif %}
          <div>{% trans 'Last year same time' %}</div>
          <div>{{last_year_same_time_percentage_of_errors}}%</div>

      </td>
      <td colspan="2">
        <h2>£10m Saved</h2>
      </td>
    </tr>
    <tr class="three">
      <td colspan="2">
        <div><h2>{% trans 'Last Week' %}</h2></div>
        <div id="satisfaction_week_bar_chart" ></div>
      </td>
      <td colspan="2">
        <div><h2>{% trans 'Last Month' %}</h2></div>
        <div id="satisfaction_month_bar_chart" ></div>
      </td>
      <td colspan="2">
        <div><h2>{% trans 'Last Year' %}</h2></div>
        <div id="satisfaction_year_bar_chart" ></div>
      </td>
    </tr>
  </table>
</body>

