{% load static %}
{% load credit %}
{% load i18n %}
{% load humanize %}

<html>
  <head>
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <link href="{% static 'stylesheets/the_dashboard.css' %}" type="text/css" media="all" rel="stylesheet" />

    <title>MTP</title>

    <script>
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChartTransaction);
      google.charts.setOnLoadCallback(drawChartAmount);
      google.charts.setOnLoadCallback(drawChartDisbursmentCount);
      google.charts.setOnLoadCallback(drawChartDisbursmentAmount);
      google.charts.setOnLoadCallback(drawDonut);


      var sharedOptions = {
          titleTextStyle: {
            fontSize: 40,
            color: 'white',
          },
        fontSize: 30,
        bold: true,
        color: 'white',

        hAxis: {
          titleTextStyle: {
            fontSize: 30,
            bold: true,
            color: 'white',
          },
          textStyle: {
            bold: true,
            fontSize: 30,
            color: 'white',
          },
        },

        vAxis:{
          titleTextStyle: {
            fontSize: 30,
            bold: true,
            color: 'white',
          },
          textStyle: {
            bold: true,
            fontSize: 30,
            color: 'white',
          }
        },

          backgroundColor: 'black',
          width: 1300,
          height: 500,
          legend: {
            position: 'top',
            textStyle: {
              bold: true,
              fontSize: 30,
              color: 'white',
            }

          },

          bar: {
            groupWidth: '80%',
            fontSize: 30,
            color: 'white',
          },

          textStyle: {
            bold: true,
            fontSize: 30,
            color: 'white',
          },
        };

      function drawChartTransaction() {
        var data = google.visualization.arrayToDataTable([
          ['Month', 'Debit', 'BankTransfer', 'Post'],
          {% for d in data reversed %}
            ['{{d.start_of_month|date:"M Y"}}', {{d.debit_card_count}}, {{d.bank_transfer_count}}, {{d.transaction_by_post}}],
          {% endfor %}
          ]);

          var chart = new google.visualization.ColumnChart(document.getElementById('transaction_bar_chart'));
          var options = Object.assign({title: 'Number of monthly credits'}, sharedOptions);
          options.colors = ['#a288f9', '#5DADE2', '#F7DC6F'];
          options.vAxis.title = 'Credits';
          chart.draw(data, options);
        }

      function drawChartAmount() {
        var data = google.visualization.arrayToDataTable([
          ['Month', 'Debit', 'BankTransfer'],
          {% for d in data reversed %}
            ['{{d.start_of_month|date:"M Y"}}', {{d.debit_card_amount}}, {{d.bank_transfer_amount}}],
          {% endfor %}
          ]);

          var chart = new google.visualization.ColumnChart(document.getElementById('transaction_bar_chart_of_amount'));
          var options = Object.assign({title: 'Amount of money credited'}, sharedOptions);
          options.colors = ['#a288f9', '#5DADE2'];
          options.vAxis.title = 'Money (£)';
          chart.draw(data, options);
        }


      function drawChartDisbursmentCount() {
        var data = google.visualization.arrayToDataTable([
          ['Month', 'Cheque', 'BankTransfer'],
          {% for d in data reversed %}
            ['{{d.start_of_month|date:"M Y"}}', {{d.disbursement_cheque_count}}, {{d.disbursement_bank_transfer_count}}],
          {% endfor %}
          ]);

          var chart = new google.visualization.ColumnChart(document.getElementById('disbursements_count_chart'));
          var options = Object.assign({title: 'Number of monthly disbursements'}, sharedOptions);
          options.vAxis.title = 'Disbursments';
          options.colors = ['#7DCEA0', '#5DADE2'];
          chart.draw(data, options);
        }

        function drawChartDisbursmentAmount() {
          var data = google.visualization.arrayToDataTable([
            ['Month', 'Cheque', 'BankTransfer'],
            {% for d in data reversed %}
              ['{{d.start_of_month|date:"M Y"}}', {{d.disbursement_cheque_amount}}, {{d.disbursement_bank_transfer_amount}}],
            {% endfor %}
            ]);

          var chart = new google.visualization.ColumnChart(document.getElementById('disbursements_amount_chart'));
          var options = Object.assign({title: 'Amount of money disbursed'}, sharedOptions);
          options.colors = ['#7DCEA0', '#5DADE2'];
          options.vAxis.title = 'Money (£)';
          chart.draw(data, options);
        }


        function drawDonut()  {
          var data = google.visualization.arrayToDataTable([
            ['Sent Money', 'Number'],
            ['Debit', {{data.1.debit_card_count}}],
            ['Bank Transfer', {{data.1.bank_transfer_count}}],
            ['Post',{{data.1.transaction_by_post}}],
          ]);

          var options = {
            backgroundColor: 'black',
            title: "Digital take up {{formated_previous_month_and_current_year}}",
            titleTextStyle: {
              fontSize: 50,
              color: 'white',
            },
            titlePosition: 'center',
            colors: ['#a288f9', '#5DADE2', '#F7DC6F'],
            fontSize: 25,
            width: 800,
            height: 900,
            pieHole: 0.5,
            pieStartAngle: 100,
            pieSliceTextStyle: {
            color: 'black',
          },
            legend: { position: "top",
              textStyle: {
                bold: true,
                fontSize: 25,
                color: 'white',
              }
          },
            is3D: true,

          };

          var chart = new google.visualization.PieChart(document.getElementById('donut_of_transaction'));
          chart.draw(data, options);
        }


        var tableID=0;
        function changeTable(){
          var table_1 = document.getElementById("table_1");
          var table_2 = document.getElementById("table_2");
          var table_3 = document.getElementById("table_3");

          if(tableID >= 3) {
            tableID = 0
          }

          if(tableID == 0){
            table_1.style.display = 'block';
            table_2.style.display = 'none';
            table_3.style.display = 'none';
          }
          if(tableID == 1) {
            table_1.style.display = 'none';
            table_2.style.display = 'block';
            table_3.style.display = 'none';
          }
          if(tableID == 2) {
            table_1.style.display = 'none';
            table_2.style.display = 'none';
            table_3.style.display = 'block';
          }
          console.log(tableID);
          tableID++;
        }

        setInterval(changeTable, 15000);
     </script>
  </head>
<body>

<table id="table_1" class="main-table">
  <tr>
    <td class="chart-padding">
      <div id="transaction_bar_chart" ></div>
    </td>

    <td rowspan="2" class="digital-transaction-one-group">
      <div>
        <h1 class="digital-transaction-heading">
          Digital credits:
        </h1>

      <div class="digital-transaction-individual-group-padding">
        <h2>This week:</h2>
        <h3>{{digital_transactions_amount_previous_week|format_amount}}</h3>
        <h4>{{digital_transactions_count_previous_week}} credit recieved</h4>
      </div>

      <div class="digital-transaction-individual-group-padding">
        <h2>This month:</h2>
        <h3>{{digital_transactions_amount_this_month|format_amount}}</h3>
        <h4>{{digital_transactions_count_this_month}} credit recieved</h4>
      </div>

      <div class="digital-transaction-align">
        <h2>This year:</h2>
        <h3>{{digital_transactions_amount_this_year|format_amount}}</h3>
        <h4>{{digital_transactions_count_this_year}} credit recieved</h4>
      </div>
    </td>

  </tr>
  <tr>
    <td class="chart-padding">
      <div id="transaction_bar_chart_of_amount" ></div>
    </td>
  </tr>
</table>


<table id="table_2" class="main-table">
  <tr>
    <td class="chart-padding">
      <div id="disbursements_count_chart" ></div>
    </td>

    <td rowspan="2" class="digital-transaction-one-group">
      <div>
        <h1 class="digital-transaction-heading">
          Digital <br> disbursements:
        </h1>
      </div>

      <div class="digital-transaction-individual-group-padding">
        <h2>This week:</h2>
        <h3>{{disbursement_amount_previous_week|format_amount }}</h3>
        <h4>{{disbursement_count_previous_week}} disbursement sent</h4>
      </div>

      <div class="digital-transaction-individual-group-padding">
        <h2>This month:</h2>
        <h3>{{disbursement_amount_this_month|format_amount }}</h3>
        <h4>{{disbursement_count_this_month}} disbursement sent</h4>
      </div>

      <div>
        <h2>This year:</h2>
        <h3>{{disbursement_amount_this_year|format_amount}}</h3>
        <h4>{{disbursement_count_this_year}} disbursement sent</h4>
      </div>
    </td>
  </tr>

  <tr>
    <td class="chart-padding">
      <div id="disbursements_amount_chart" ></div>
    </td>
  </tr>
</table>

<table id="table_3" class="main-table">
  <tr>
    <td>
      <div class="donut-padding" id='donut_of_transaction'></div>
    </td>
    <td>
      <td>
        <div class="satisfaction-rate-box space_between_headings">
          <h1>Satisfaction rate:<h1>
          <h3>{{user_satisfaction}}%</h3>
        </div>
        <div class="money-saved-box">
          <h1>Money saved:</h1>
          <h3>{{savings_made|format_amount}}</h3>
        </div>
      </td>

      <td>
        <div class="space_between_headings bank-transfer-error-box">
          <h1 class="bank-error-rate-heading">
            Bank transfer <br> error rate:
          </h1>
          <h3>
            {% if percent_of_errors_last_month > percent_of_errors_last_month_last_year %}
              {{percent_of_errors_last_month}}% +
            {% elif percent_of_errors_last_month < percent_of_errors_last_month_last_year %}
              {{percent_of_errors_last_month}}% -
            {% else %}
              {{percent_of_errors_last_month}}%
            {% endif %}
          </h3>
           <h4 class="space_between_bank-transfer-months">
            {{formated_current_month_and_year}}
           </h4>
          <h3>
            {{percent_of_errors_last_month_last_year}}%
          </h3>
          <h4>
            {{formated_current_month_last_year}}
          </h4>
        </div>
      </td>
    </td>
  </tr>
</table>
</body>

