{% extends 'mtp_common/email_base.html' %}
{% load i18n %}

{% block inner_content %}
  <p>
    {% blocktrans trimmed with service_name=service_name|default:'Prisoner Money' %}
      Your new {{ service_name }} account has been created for you.
    {% endblocktrans %}
  </p>

  <table cellspacing="10">
    <tr>
      <th valign="top" align="left">{% trans 'Username' %}</th>
      <td>{{ username }}</td>
    </tr>
    <tr>
      <th valign="top" align="left">{% trans 'Password' %}</th>
      <td>{{ password }}</td>
    </tr>
  </table>

  {% if login_url %}
    <p>
      {% blocktrans trimmed with login_url=login_url|urlize %}
        You can now sign in at: {{ login_url }}
      {% endblocktrans %}
    </p>
  {% endif %}
{% endblock %}
