{% extends 'mtp_common/email_base.html' %}
{% load i18n %}

{% block content %}
  <p>
    {% blocktrans trimmed %}
      Your account can now be used with the {{ service_name }} service.
    {% endblocktrans %}
  </p>

  <table cellspacing="10">
    <tr>
      <th valign="top" align="left">{% trans 'Username' %}</th>
      <td>{{ username }}</td>
    </tr>
  </table>

  <p>
    {% trans 'Your password remains the same.' %}
    {% trans 'You can reset it from the login page if you need to.' %}
  </p>

  {% if login_url %}
    <p>
      {% blocktrans trimmed with login_url=login_url|urlize %}
        You can now sign in at: {{ login_url }}
      {% endblocktrans %}
    </p>
  {% endif %}
{% endblock %}
