# general
*.DS_Store
*.py?
*.pot
*~

# editors
.idea/
*.sublime-workspace
*.sublime-project

# sass & node.js
*.sass-cache/
.eslintcache/
node_modules/
npm-debug.log

# project
Dockerfile
docker-compose.yml
package.json
package-lock.json
webpack.config.js
mtp_api/assets/
mtp_api/settings/local.py
static/
media/
venv/
spooler/

# testing
htmlcov/
.coverage

# linters / code intelligence
.mypy_cache/
