*.DS_Store
*.py[cod]
*.mo
*.pot
venv/

# sass & node.js
*.sass-cache/
.eslintcache/
node_modules/
npm-debug.log

# app-specific
eslint.config.cjs
.sass-lint.yml
docker-compose.yml
package.json
package-lock.json
webpack.config.js
mtp_api/assets/
mtp_api/settings/local.py
static/
media/
spooler/

# testing
/reports/
geckodriver.log
ghostdriver.log
htmlcov/
.coverage

# linters / code intelligence
.mypy_cache/

# Editors
.vim
.vim-bookmarks
