{% extends 'mtp_common/email_base.html' %}
{% load i18n %}

{% block inner_content %}
  <p>
    {% blocktrans trimmed with name=user.first_name %}
      Dear {{ name }},
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans trimmed with start=period_start|date:'d/m/Y' %}
      Here are your notifications from the prisoner money intelligence tool for the {{ period }} commencing {{ start }}.
    {% endblocktrans %}
  </p>

  <h2 style="padding: 0; font-size: 27px; line-height: 35px; font-weight: bold;">
    {% blocktrans trimmed count count=total_notifications %}
      You have {{ total_notifications }} notification to view
    {% plural %}
      You have {{ total_notifications }} notifications to view
    {% endblocktrans %}
  </h2>

  <div style="border-left: 10px solid #BFC1C3; padding: 15px 0 0.1px 15px;">
    <p style="margin: 0 0 20px 0;">
      <a style="word-wrap: break-word; color: #005ea5;" href="{{ notifications_url }}">{% trans 'View your notifications' %}</a>
    </p>
  </div>

  <hr style="border: 0; height: 1px; background: #BFC1C3; margin: 30px 0 30px 0;"/>

  <h2 style="padding: 0; font-size: 27px; line-height: 35px; font-weight: bold;">
    {% trans 'Monitored transactions' %}
  </h2>

  <p>
    {% blocktrans trimmed count count=monitored_transactions with num=monitored_transactions|default:'No' %}
      {{ num }} notification
    {% plural %}
      {{ num }} notifications
    {% endblocktrans %}
  </p>

  <h2 style="padding: 0; font-size: 27px; line-height: 35px; font-weight: bold;">
    {% trans 'Credits or disbursements' %}
  </h2>

  <p>
    {% blocktrans trimmed count count=transaction_amount_events with num=transaction_amount_events|default:'No' %}
      {{ num }} notification
    {% plural %}
      {{ num }} notifications
    {% endblocktrans %}
  </p>

  <h2 style="padding: 0; font-size: 27px; line-height: 35px; font-weight: bold;">
    {% trans 'Number of credits/disbursements sent' %}
  </h2>

  <p>
    {% blocktrans trimmed count count=frequency_events with num=frequency_events|default:'No' %}
      {{ num }} notification
    {% plural %}
      {{ num }} notifications
    {% endblocktrans %}
  </p>

  <h2 style="padding: 0; font-size: 27px; line-height: 35px; font-weight: bold;">
    {% trans 'Number of people outside prison receiving/sending money' %}
  </h2>

  <p>
    {% blocktrans trimmed count count=many_senders_receivers_events with num=many_senders_receivers_events|default:'No' %}
      {{ num }} notification
    {% plural %}
      {{ num }} notifications
    {% endblocktrans %}
  </p>

  <h2 style="padding: 0; font-size: 27px; line-height: 35px; font-weight: bold;">
    {% trans 'Number of prisoners receiving/sending money' %}
  </h2>

  <p>
    {% blocktrans trimmed count count=many_prisoners_events with num=many_prisoners_events|default:'No' %}
      {{ num }} notification
    {% plural %}
      {{ num }} notifications
    {% endblocktrans %}
  </p>

  <div style="border-left: 10px solid #BFC1C3; padding: 15px 0 0.1px 15px;">
    <p style="margin: 0 0 20px 0;">
      <a style="word-wrap: break-word; color: #005ea5;" href="{{ notifications_url }}">{% trans 'View your notifications' %}</a>
    </p>
  </div>

  <p>
    {% blocktrans trimmed %}
      You can turn these email notifications off at any time from your <a style="word-wrap: break-word; color: #005ea5;" href="{{ settings_url }}">settings screen</a>.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans trimmed %}
      All your <a style="word-wrap: break-word; color: #005ea5;" href="{{ feedback_url }}">feedback</a> helps us improve the tool.
    {% endblocktrans %}
  </p>

  <p>
    Kind regards,<br />
    Prisoner money team
  </p>
{% endblock %}
