{% load i18n %}
{% load credit %}

<td>
  <div class="credit-stat">
    <table>
      <caption>{% trans 'Bank transfer issues' %}</caption>
      <tbody>
        <tr title="{% trans 'Bank transfers that contained incomplete sender information' %}">
          <th>{% trans 'Anonymous' %}:</th>
          <td>{{ dashboard_module.anonymous_count|format_number }}</td>
        </tr>

        <tr title="{% trans 'Bank transfers that do not match a prisoner and cannot be refunded' %}">
          <th>{% trans 'Unidentified' %}:</th>
          <td>{{ dashboard_module.unidentified_count|format_number }}</td>
        </tr>

        {% if not prison %}
          <tr title="{% trans 'Bank transfers marked as administrative, e.g. WorldPay settlements or NOMS reimbursing a payment out to a supplier' %}">
            <th>{% trans 'Administrative' %}:</th>
            <td>{{ dashboard_module.anomalous_count|format_number }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</td>
