{% load i18n %}
{% load credit %}

<td>
  <div class="credit-stat">
    <table>
      <caption>{% trans 'Crediting' %}</caption>
      <tbody>
        <tr title="{% trans 'Proportion of creditable that is debit card payments, i.e. ignores rejected bank transfers' %}">
          <th>{% trans 'Debit cards' %}:</th>
          <td>{{ dashboard_module.creditable_payment_proportion|format_percentage }}</td>
        </tr>

        <tr title="{% trans 'The average time between receipt and crediting in the Digital Cashbook' %}">
          <th>{% trans 'Time to credit' %}:</th>
          <td>{{ dashboard_module.average_crediting_time|format_timedelta }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</td>
