{% load i18n %}
{% load credit %}

<td>
  <div class="credit-stat">
    <table>
      <caption>{% trans 'Received by method' %}</caption>
      <tbody>
        <tr>
          <th>{% trans 'Bank transfer' %}:</th>
          <td>{{ dashboard_module.received_transaction_count|format_number }}</td>
        </tr>
        <tr>
          <td colspan="2" class="credit-stat--quiet">{{ dashboard_module.received_transaction_amount|format_amount }}</td>
        </tr>

        <tr>
          <th>{% trans 'Debit card' %}:</th>
          <td>{{ dashboard_module.received_payment_count|format_number }}</td>
        </tr>
        <tr>
          <td colspan="2" class="credit-stat--quiet">{{ dashboard_module.received_payment_amount|format_amount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</td>
