{% load i18n %}
{% load credit %}

<td>
  <div class="credit-stat">
    {% if dashboard_module.refundable_count == dashboard_module.refunded_count %}
      <strong>
        <span class="credit-stat--valign">
          {{ dashboard_module.refundable_count|format_number }}
          <sub>{{ dashboard_module.refundable_amount|format_amount }}</sub>
        </span>
      </strong>
      {% trans 'Refunded' %}
    {% else %}
      <strong>
        <span title="{% trans 'Refunds file downloaded through the Bank Admin tool' %}">{{ dashboard_module.refunded_count|format_number }}</span>
        ／
        <span class="credit-stat--valign">
          {{ dashboard_module.refundable_count|format_number }}
          <sub>{{ dashboard_module.refundable_amount|format_amount }}</sub>
        </span>
      </strong>
      {% trans 'Refunded' %} / {% trans 'Refundable' %}
    {% endif %}
  </div>
</td>
