{% load i18n %}
{% load credit %}
{% load prison %}

<td>
  <div class="credit-stat">
    <table>
      <caption>{% trans 'Received by prison' %}</caption>
      <tbody>
        {% for creditable_prison in dashboard_module.get_top_recevied_by_prison %}
          <tr>
            <th>{{ creditable_prison.prison|short_prison_name|default_if_none:_('No prison') }}:</th>
            <td>{{ creditable_prison.count|format_number }}</td>
          </tr>
        {% empty %}
          <tr><td>–</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</td>
