{% extends 'core/report.html' %}
{% load i18n %}
{% load mtp_common %}
{% load admin_urls %}
{% load credit %}
{% load simple_admin %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; {{ title }}
  </div>
{% endblock %}

{% block content %}
  <p>
    <a href="#admin-report-notes">
      {% trans 'See important notes below' %}…
    </a>
  </p>

  <div id="content-main">
    <div id="changelist" class="module filtered">
      <div id="changelist-filter">
        <h2>{% trans 'Filter' %}</h2>

        <h3>{{ form.period.label }}</h3>
        {% admin_choice_list form form.period %}
      </div>

      <div class="results">
        <table>
          <thead>
            <tr>
              {% sortable_table_header form 'nomis_id' _('Prison') %}
              {% sortable_table_header form 'count' _('Digital credits') %}
              {% sortable_table_header form 'amount' _('Digital credit amount') %}
            </tr>
          </thead>
          <tbody>
            {% for prison in prisons %}
              <tr class="{% cycle 'row1' 'row2' %}">
                <td>{{ prison.name }}</td>
                <td>{{ prison.count|format_number }}</td>
                <td>{{ prison.amount|currency }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <section id="admin-report-notes">
          <h2>{% trans 'Notes on this report' %}</h2>
          <dl>
            <dt>{% trans 'Digital credits' %}</dt>
            <dd>
              {% trans 'A credit is money sent to a prisoner using the digital service by bank transfer or debit card.' %}
              {% trans 'Postal credits sent as cash, cheque or postal order do not use the digital service.' %}
            </dd>
          </dl>
        </section>
      </div>
    </div>
  </div>
{% endblock %}
