.credit-stat {
  min-width: 20em;
  min-height: 6.8em;
  padding: 10px;
  background: #f9f9f9;
  text-align: center;
  font-size: 13px;
}

.credit-stat strong {
  display: block;
  font-size: 2.8em;
  line-height: normal;
  font-weight: bold;
}

.credit-stat--valign {
  display: inline-block;
  vertical-align: text-top;
}

.credit-stat--valign sub {
  display: block;
  margin-top: -0.2em;
  margin-bottom: 0.2em;
  font-size: 0.5em;
  color: #555;
}

.credit-stat dl {
  display: inline-block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  min-width: 10em;
}
.credit-stat dt {
  float: left;
  clear: left;
  margin: 0;
  padding: 0;
  line-height: normal;
  font-weight: normal;
}
.credit-stat dd {
  float: left;
  margin: 0;
  padding: 0;
  line-height: normal;
  font-weight: bold;
}

.credit-stat dt + dd {
  padding-left: 10%;
}

.mtp-dashboard-module-standout thead th {
  border: none;
  background: #111;
  color: #ccc;
  text-align: center;
  font-size: 1.8em;
}

.mtp-dashboard-module-standout .credit-stat {
  background: #111;
  font-size: 2em;
}

.mtp-dashboard-module-standout .credit-stat strong {
  font-size: 2.8em;
  margin-bottom: 0.3em;
}

.mtp-dashboard-module-standout .credit-stat--valign sub {
  margin-bottom: 0;
  color: #ccc;
}

.mtp-dashboard-module-standout .credit-stat dt,
.mtp-dashboard-module-standout .credit-stat dd {
  font-size: 1em;
}

#credit-chart {
  width: 100%;
  height: 100%;
  background: #f9f9f9;
}
.mtp-dashboard-module-standout #credit-chart {
  background: #111;
}
