#mtp-dashboard-autoreload {
  font-weight: normal;
}

.mtp-dashboard-module {
  background: #fff;
}
.mtp-dashboard-module caption span a {
  margin-left: 10px;
}
.mtp-dashboard-module-standout {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: scroll;
}
.mtp-dashboard-module-standout, .mtp-dashboard-module-standout > table {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
}
.mtp-dashboard-module-standout caption {
  background: #222;
  color: #fff;
}
.mtp-dashboard-module-standout caption span a {
  color: #fff;
}
.mtp-dashboard-module-standout td {
  border-bottom-color: #000;
}
.mtp-dashboard-module-standout tfoot {
  display: none;
}
