{% extends 'core/report.html' %}
{% load i18n %}
{% load admin_urls %}
{% load credit %}
{% load simple_admin %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; {{ title }}
  </div>
{% endblock %}

{% block content %}
  <p>
    <a href="#admin-report-notes">
      {% trans 'See important notes below' %}…
    </a>
  </p>

  <div id="content-main">
    <div id="changelist" class="module filtered">
      <div id="changelist-filter">
        <h2>{% trans 'Filter' %}</h2>

        <h3>{{ form.period.label }}</h3>
        {% admin_choice_list form form.period %}
      </div>

      <div class="results">
        {% if rows %}
          <table>
            <thead>
              <tr>
                <th><div class="text"><span>{% trans 'Period' %}</span></div></th>
                {% for application in applications %}
                  <th><div class="text"><span>{{ application.name }}</span></div></th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for row in rows %}
                <tr class="{% cycle 'row1' 'row2' %}">
                  <td>{{ row.date_label }}</td>
                  {% for count in row.counts %}
                    <td>{{ count|format_number }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p class="errornote">
            {% trans 'No data reported.' %}
          </p>
        {% endif %}

        <section id="admin-report-notes">
          <h2>{% trans 'Notes on this report' %}</h2>
          <dl>
            <dt>{% trans 'Zendesk report' %}</dt>
            <dd>
              {% trans 'This report shows the number of tickets created in Zendesk tagged as having come from a Prisoner Money application.' %}
              {% trans 'It only displays results up to the beginning of 2 years ago.' %}
            </dd>
          </dl>
        </section>

      </div>
    </div>
  </div>

{% endblock %}
