{% extends 'admin/index.html' %}
{% load i18n %}
{% load log %}


{% block content %}
  <div id="content-main">

    {% if show_reports %}
      <div class="module">
        <table>
          <caption>{% trans 'Reports' %}</caption>
          <tbody>
            <tr>
              <th scope="row">
                <a href="{% url 'admin:credit-report' %}">{% trans 'Credit report' %}</a>
              </th>
              <td></td>
            </tr>
            <tr>
              <th scope="row">
                <a href="{% url 'admin:credit-prison-report' %}">{% trans 'Credits per-prison' %}</a>
              </th>
              <td></td>
            </tr>
            <tr>
              <th scope="row">
                <a href="{% url 'admin:disbursement-report' %}">{% trans 'Disbursement report' %}</a>
              </th>
              <td></td>
            </tr>
            <tr>
              <th scope="row">
                <a href="{% url 'admin:disbursement-prison-report' %}">{% trans 'Disbursements per-prison' %}</a>
              </th>
              <td></td>
            </tr>
            <tr>
              <th scope="row">
                <a href="{% url 'admin:digital_takeup_report' %}">{% trans 'Digital take-up report' %}</a>
              </th>
              <td></td>
            </tr>
            <tr>
              <th scope="row">
                <a href="{% url 'admin:digital_takeup_prisons' %}">{% trans 'Digital take-up per prison' %}</a>
              </th>
              <td></td>
            </tr>
            <tr>
              <th scope="row">
                <a href="{% url 'admin:check_report' %}">{% trans 'Check report (for FIU)' %}</a>
              </th>
              <td></td>
            </tr>
            <tr>
              <th scope="row">
                <a href="{% url 'admin:login-stats' %}">{% trans 'Staff logins per prison' %}</a>
              </th>
              <td></td>
            </tr>
            <tr>
              <th scope="row">
                <a href="{% url 'admin:performance_dashboard' %}">{% trans 'TV dashboard' %}</a>
              </th>
              <td></td>
            </tr>
            <tr>
              <th scope="row">
                <a href="{% url 'admin:dashboard' %}">{% trans 'Old dashboard' %}</a>
              </th>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    {% endif %}

    {# if app_list block copied from super template as it cannot be extended #}
    {% if app_list %}
      {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
          <table>
            <caption>
              <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
            </caption>
            {% for model in app.models %}
              <tr class="model-{{ model.object_name|lower }}">
                {% if model.admin_url %}
                  <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% else %}
                  <th scope="row">{{ model.name }}</th>
                {% endif %}

                {% if model.add_url %}
                  <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                {% else %}
                  <td>&nbsp;</td>
                {% endif %}

                {% if model.admin_url %}
                  <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                {% else %}
                  <td>&nbsp;</td>
                {% endif %}
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endfor %}
    {% else %}
      <p>{% trans 'You don’t have permission to edit anything.' %}</p>
    {% endif %}

    {% if show_recreate_test_data %}
      <div class="module">
        <table>
          <caption>{% trans 'Testing tools' %}</caption>
          <tbody>
            <tr>
              <th scope="row">{% trans 'Delete and recreate sample data for user testing' %}</th>
              <td>
                <a href="{% url 'admin:recreate_test_data' %}" class="deletelink" title="{% trans 'This cannot be undone!' %}">
                  {% trans 'Recreate' %}
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    {% endif %}

  </div>
{% endblock %}


{% block sidebar %}
  <div id="content-related">
    <div class="module" id="mtp-locale-module">
      <h2>{% trans 'Language' %}</h2>
      <form action="{% url 'set_language' %}" method="post">
        <p class="form-row">
          {% csrf_token %}
          <input name="next" value="{{ request.build_absolute_uri }}" type="hidden">
          <label>
            {% trans 'Select a language' %}
            <select name="language">
              {% get_available_languages as available_languages %}
              {% get_current_language as current_language %}
              {% for lang_code, lang_name in available_languages %}
                <option value="{{ lang_code }}" {% if current_language == lang_code %}selected{% endif %}>{{ lang_code|language_name_local }}</option>
              {% endfor %}
            </select>
          </label>
        </p>
        <p class="form-row">
          <input type="submit" value="{% trans 'Switch' %}">
        </p>
      </form>
    </div>

    {% if user.is_superuser %}
      {% get_admin_log 10 as admin_log %}
    {% else %}
      {% get_admin_log 10 as admin_log for_user user %}
    {% endif %}
    {% if admin_log %}
      <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <ul class="actionlist">
          {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% elif entry.is_change %}changelink{% elif entry.is_deletion %}deletelink{% endif %}">
              {% if entry.is_deletion or not entry.get_admin_url %}
                {{ entry.object_repr }}
              {% else %}
                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
              {% endif %}
              <br/>
              {% if entry.content_type %}
                <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
              {% else %}
                <span class="mini quiet">{% trans 'Unknown content' %}</span>
              {% endif %}
              {% if user.is_superuser %}
                <span class="mini">{{ entry.user.get_full_name }}</span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>

{% endblock %}
