#mtp-dashboard-autoreload {
  font-weight: normal;
}

.mtp-dashboard-module {
  background: #fff;

  caption {
    a {
      color: #fff;
    }

    span a {
      margin-left: 10px;
    }
  }

  tr {
    background-color: transparent;
  }
}

.mtp-dashboard-change {
  display: none;

  p label {
    display: inline-block;
    min-width: 10em;
  }
}

.mtp-dashboard-full-screen-only {
  display: none;
}

.mtp-dashboard-full-screen {
  background: #000;

  #header, .breadcrumbs, #content > h1, .object-tools, #footer {
    display: none;
  }

  .mtp-dashboard-full-screen-only {
    display: inherit;
  }

  .mtp-dashboard-module {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: scroll;

    &, & > table {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      background: #000;
      color: #fff;
    }

    caption {
      display: none;
    }

    thead th {
      border: 0;
      background: #111;
      color: #ccc;
      text-align: center;
      font-size: 1.8em;
    }

    td {
      border-bottom-color: #000;
    }

    tfoot {
      display: none;
    }
  }
}

a.mtp-dashboard-toggle-full-screen {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2px 6px;
  color: #999;
  text-transform: uppercase;
}
