body {
  padding-left: 100px;
  padding-right: 200px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0;
  background-color: #27332F;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.size-of-page {
  width: 1720px;
  height: 930px;
}

img.bottom {
    vertical-align: text-bottom;
}


table {
  border-collapse: collapse!important;
  border-spacing: 0px;
}

td {
  margin: 0px;
  padding: 0px;
  vertical-align: top;
}

.width-of-right-sub-title{
  width: 100px;
}

.annotation-under-right-sub-title {
  height: 80px;
}


.main-title {
  margin-bottom: 50px
}

.box{
  width:60px;
  height:40px;
  margin-left: 20px;
  margin-right: 20px;
}

.large-box {
  margin-top: 100px;
  width: 1100px;
  height: 400px;
  margin-left: 0px;
}

.purple{
  background:#6F72AF;
}

.pink{
  background:#D53880;
}

.yellow {
  background: #FFBF47;
}

.blue {
  background: #2B8CC4;
}

.green {
  background: #85994B;
}

.purple-text{
  color: #6F72AF;
}

.pink-text{
  color:#D53880;
}

.yellow-text{
  color: #FFBF47;
}

.blue-text{
  color: #2B8CC4;
}

.green-text{
  color: #85994B;
}

table {
  width: 100%;
}

.length-of-legend-credits {
  width: 800px;
  margin-top: 40px;
  margin-bottom: 0px;
}

.length-of-legend-digital-takeup {
  width: 800px;
  margin-top: 40px;
  margin-bottom: 0px;
}

.length-of-legend-disbursements {
  width: 500px;
  margin-top: 40px;
  margin-bottom: 0px;
}


h1 {
  font-size: 70px;
  margin: 0px;
  font-weight: lighter;
  margin: 0px;
}

h2 {
  font-size: 40px;
  margin: 0px;
}

h3 {
  font-size: 35px;
  font-weight: lighter;
  margin: 0px;
}

tr.border_bottom td {
  border-bottom:1pt solid white;
}


h4 {
  font-size: 30px;
  font-weight: lighter;
  margin: 0px;
}

h5 {
  font-size: 25px;
  font-weight: lighter;
  margin-top: 3px;
  margin-bottom: 0px;
}

h6 {
  font-size: 25px;
  font-weight: lighter;
  margin: 0px;
}

.table-overview {
  width: 350px;
  height: 400px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.satisfaction-box {
  margin-top: 40px;
}

.money-saved-box {
  margin-top: 40px;
}

.table-spacing {
  padding-bottom: 150px;
}

