@import 'colours/palette';

body {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
  background-color: #27332F;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 25px;
}

a.pause-button {
  position: fixed;
  bottom: 20px;
  left: 30;
  padding: 4px 8px;
  color: white;
}

h1 {
  font-size: 70px;
  margin: 0px;
  font-weight: lighter;
  margin: 0px;
}

h2 {
  font-size: 40px;
  margin: 0px;
}

h3 {
  font-size: 35px;
  font-weight: lighter;
  margin: 0px;
}

h4 {
  font-size: 30px;
  font-weight: lighter;
  margin: 0px;
}

td {
  margin: 0px;
  padding: 0px;
  vertical-align: top;
}

.size-of-page {
  width: 1720px;
  height: 930px;
}

.charts-container {
  padding-right: 60px;
}

.width-of-right-sub-title {
  display: inline-block;
  width: 430px;
  padding-left: 50px;
}

.annotation-under-right-sub-title {
  height: 70px;
  padding-top: 20px;
  padding-left: 50px;
}

.main-title {
  margin-bottom: 30px;
}

.legend {
  margin-top: 20px;
  font-size: 30px;
  font-weight: lighter;

  span {
    display: inline-block;
    margin-right: 20px;
  }

  span::before {
    display: inline-block;
    height: 40px;
    width: 60px;
    margin-bottom: -9px;
    content: ' ';
  }
}

.yellow {
  color: $yellow;

  .legend &::before {
    background: $yellow;
  }
}

.pink {
  color: $pink;

  .legend &::before {
    background: $pink;
  }
}

.purple {
  color: $mauve;

  .legend &::before {
    background: $mauve;
  }
}

.green {
  color: $grass-green;

  .legend &::before {
    background: $grass-green;
  }
}

.blue {
  color: $light-blue;

  .legend &::before {
    background: $light-blue;
  }
}

.column-spacing tr td {
  width: 190px;
}

.table-overview {
  border-collapse: separate;
  border-spacing: 50px 0px;
  font-size: 25px;
  height: 360px;
  margin-bottom: 30px;

  tr th {
    text-align: left;
    border-bottom: 1pt solid white;
  }
}

.satisfaction-box {
  margin-top: 20px;
  padding-left: 50px;
}

.money-saved-box {
  margin-top: 30px;
  padding-left: 50px;
}

