@import 'govuk-frontend/dist/govuk/settings/all';

body {
  padding: 30px 100px;
  margin: 0;
  background-color: #27332f;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 25px;
}

a.pause-button {
  position: fixed;
  bottom: 20px;
  left: 30px;
  padding: 4px 8px;
  color: #fff;
}

h1 {
  font-size: 70px;
  font-weight: lighter;
  margin: 0;
}

h2 {
  font-size: 40px;
  margin: 0;
}

h3 {
  font-size: 35px;
  font-weight: lighter;
  margin: 0;
}

h4 {
  font-size: 30px;
  font-weight: lighter;
  margin: 0;
}

td {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.size-of-page {
  width: 1720px;
  height: 930px;
}

.charts-container {
  padding-right: 60px;
}

.width-of-right-sub-title {
  display: inline-block;
  width: 430px;
  padding-left: 50px;
}

.annotation-under-right-sub-title {
  height: 70px;
  padding-top: 20px;
  padding-left: 50px;
}

.main-title {
  margin-bottom: 30px;
}

.legend {
  margin-top: 20px;
  font-size: 30px;
  font-weight: lighter;

  span {
    display: inline-block;
    margin-right: 20px;
  }

  span::before {
    display: inline-block;
    height: 40px;
    width: 60px;
    margin-bottom: -9px;
    content: ' ';
  }
}

.yellow {
  color: govuk-colour('yellow');

  .legend &::before {
    background: govuk-colour('yellow');
  }
}

.pink {
  color: govuk-colour('pink');

  .legend &::before {
    background: govuk-colour('pink');
  }
}

.purple {
  color: govuk-colour('light-purple');

  .legend &::before {
    background: govuk-colour('light-purple');
  }
}

.green {
  color: govuk-colour('light-green');

  .legend &::before {
    background: govuk-colour('light-green');
  }
}

.blue {
  color: govuk-colour('light-blue');

  .legend &::before {
    background: govuk-colour('light-blue');
  }
}

.column-spacing tr td {
  width: 190px;
}

.table-overview {
  border-collapse: separate;
  border-spacing: 50px 0;
  font-size: 25px;
  height: 360px;
  margin-bottom: 30px;

  tr th {
    text-align: left;
    border-bottom: 1pt solid #fff;
  }
}

.satisfaction-box {
  margin-top: 20px;
  padding-left: 50px;
}

.money-saved-box {
  margin-top: 30px;
  padding-left: 50px;
}
