body {
  background-color: #fcfaf4;
  font-family: Arial, Helvetica, sans-serif;
  color: #47474f;
  height: 1080px;
  width: 1920px;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

table { border-collapse: collapse!important;}

.entire-width table thead {
  width: 1920px;
}

.height tr {
  height: 350px;
}

.one td {
  width: 1920px;
}

.three tr td div {
  width: 640px;
}

.donut_space {
  width: 250px;
}

.transaction_bar_space {
  width: 960px;
}

.color_div_one {
  background-color: #E4E4E4;
}

.satisfaction-padding {
  padding-top: 20px;
}

.error_messages {
  color: red;
  font-size: 110%;
  font-weight: 900;
}

.error-message-margin {
   margin: 0;
   padding: 0;
}

h3 {
  color: #47474f;
}

.savings {
  font-size: 300%;
  font-weight: 900;
  color: red;
}

table #t01 {
  width: 60%;
  height: 60%;
}

.main-title {
  font-size: 35px;
}




