body {
  background-color: #fcfaf4;
  font-family: Arial, Helvetica, sans-serif;
  color: #47474f;
}

table {
  width: 95%;
  height: 95%;
}

.height_top_and_bottom {
   height: 330px;
}

.height tr {
  height: 350px;
}

.one td {
  width: 100%;
}

.two td {
  width: 50%;
}

.three td {
  width: 32%;
}

table {
    border-collapse: collapse;
}

.color_div_one {
  background-color: #E4E4E4;
}

.satisfaction-padding {
  padding-top: 20px;
}

.error_messages {
  color: red;
  font-size: 110%;
  font-weight: 900;
}

.error-message-margin {
   margin: 0;
   padding: 0;
}

h3 {
  color: #47474f;
}

.savings {
  font-size: 300%;
  font-weight: 900;
  color: red;
}

table #t01 {
    width: 60%;
    height: 60%;
}

.main-title {
  font-size: 50px;
}




