{% load static %}
{% load credit %}
{% load i18n %}
{% load humanize %}

<html>
<head>
  <script src="https://www.google.com/jsapi" type="text/javascript"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <link href="{% static 'stylesheets/performance_dashboard.css' %}" type="text/css" media="all" rel="stylesheet" />
  <title>Prisoner Money Statistics</title>

<script>
google.charts.load('current', {'packages':['corechart']});


var sharedOptions = {
  fontSize: 25,
  color: 'white',

  titleTextStyle: {
    fontSize: 40,
    color: 'white'
  },

  hAxis: {
    titleTextStyle: {
      fontSize: 30,
      bold: true,
      color: 'white'
    },
    textStyle: {
      fontSize: 20,
      color: 'white'
    }
  },

  vAxis:{
    titleTextStyle: {
      fontSize: 30,
      color: 'white'
    },
    textStyle: {
      fontSize: 20,
      color: 'white'
    },
    gridlines: {
      count: 4
    },
    textPosition: 'in'
  },

  backgroundColor: '#27332F',
  width: 1100,
  height: 750,
  chartArea: {
    left: 10,
    right: 20,
    top: 70,
    width: '50%',
    height: '70%'
  },
  legend: {
    position: 'none'
  },

  bar: {
    groupWidth: '90%',
    fontSize: 10,
    color: 'white'
  },

  textStyle: {
    fontSize: 10,
    color: 'white'
  }
};

function drawDigitalTakeUpRatio() {
   var data = new google.visualization.DataTable();
      data.addColumn('date', 'Month');
      data.addColumn('number', 'Digital');
      data.addColumn('number', 'Post');

      data.addRows([
        {% for d in data reversed %}
          [new Date('{{d.start_of_month|date:"M Y"}}'), {{d.all_credits}}, {{d.post_count}}],
        {% endfor %}
      ]);

    var chart = new google.visualization.LineChart(document.getElementById('digital_take_up_ratio'));
    var options = Object.assign(sharedOptions);
    options.colors =  ['#85994B', '#2B8CC4']
    options.lineWidth = 10,
    chart.draw(data, options);
}



function drawChartCredit() {
  var data = google.visualization.arrayToDataTable([
    ['Month', 'Debit', 'Bank transfer', 'Post'],
    {% for d in data_six_months reversed %}
      ['{{d.start_of_month|date:"M Y"}}', {{d.credit_debit_card_count}}, {{d.credit_bank_transfer_count}}, {{d.post_count}}],
    {% endfor %}
   ]);

  var view = new google.visualization.DataView(data);
  view.setColumns([
    0,
    1,
    {
      sourceColumn: 1,
      role: "annotation",
    },
    2,
    {
      sourceColumn: 2,
      role: "annotation" ,
    },
    3,
    {
      sourceColumn: 3,
      role: "annotation" ,
    }
  ]);

  var chart = new google.visualization.ColumnChart(document.getElementById('credit_bar_chart'));
  var options = Object.assign(sharedOptions);
  options.colors = ['#FFBF47', '#D53880', '#6F72AF'];
  chart.draw(view, options);
}

function drawChartDisbursmentCount() {
  var data = google.visualization.arrayToDataTable([
    ['Month', 'Cheque', 'Bank Transfer'],
    {% for d in data_six_months reversed %}
      ['{{d.start_of_month|date:"M Y"}}', {{d.disbursement_cheque_count}}, {{d.disbursement_bank_transfer_count}}],
    {% endfor %}
  ]);

  var view = new google.visualization.DataView(data);
  view.setColumns([
    0,
    1,
    {
      sourceColumn: 1,
      role: "annotation"
    },
    2,
    {
      sourceColumn: 2,
      role: "annotation"
    },
  ]);


  var chart = new google.visualization.ColumnChart(document.getElementById('disbursements_count_chart'));
  var options = Object.assign(sharedOptions);
  options.vAxis.title = 'Credits';
  options.colors = ['#2B8CC4', '#D53880'];
  chart.draw(view, options);
}

var credit_bar_chart_title;
var digital_take_up_ratio_title;
var transaction_bar_chart;
var digital_take_up_ratio;
var digital_takeup_legend;
var credits_legend;
var table_1;
var table_2;
var tableID=2;
var loadedCharts1 = false;
var loadedCharts2 = false;
var loadedCharts3 = false;

function changeTable(){
  if(tableID % 2 == 0){
    table_1.style.display = 'block';
    table_2.style.display = 'none';
    if(loadedCharts1 == false){
      drawChartCredit();
      drawDigitalTakeUpRatio();
      loadedCharts1 = true;
      loadedCharts3 = true;
    }

    setTimeout(function() {
      digital_take_up_ratio_title.style.display = 'block';
      digital_takeup_legend.style.display = 'block';
      digital_take_up_ratio.style.display = 'block';

      credit_bar_chart_title.style.display = 'none';
      credits_legend.style.display = 'none';
      credit_bar_chart.style.display = 'none';
    }, 4000);

  } else {
    digital_take_up_ratio_title.style.display = 'none';
    credit_bar_chart_title.style.display = 'block';
    digital_take_up_ratio.style.display = 'none';
    credit_bar_chart.style.display = 'block'
    credits_legend.style.display = 'block';
    digital_takeup_legend.style.display = 'none';

    table_1.style.display = 'none';
    table_2.style.display = 'block';
    if(loadedCharts2 == false){
      drawChartDisbursmentCount();
      loadedCharts2 = true;
    }
  }
   tableID+=1;
}

function initializeCharts() {
  table_1 = document.getElementById('table_1');
  table_2 = document.getElementById('table_2');
  digital_takeup_legend = document.getElementById('digital_takeup_legend');
  credits_legend = document.getElementById('credits_legend');
  digital_take_up_ratio = document.getElementById('digital_take_up_ratio');
  credit_bar_chart = document.getElementById('credit_bar_chart');
  credit_bar_chart_title = document.getElementById('credit_bar_chart_title');
  digital_take_up_ratio_title = document.getElementById('digital_take_up_ratio_title');

  changeTable();
  setInterval(changeTable, 8000);
}

 google.charts.setOnLoadCallback(initializeCharts);
</script>

</head>
  <body>
     <div id="table_2" class="size-of-page" style="display:none">
      <div class="main-title">
        <h1><strong>Disbursements</strong> (Money sent by prisoners)</h1>
      </div>

      <table class="main-table">
        <tr>
          <td>
            <h2>Number of monthly disbursements</h2>
          </td>
          <td class="width-of-right-sub-title">
            <h2>Digital disbursements</h2>
          </td>
        </tr>
        <tr>
          <td>
            <div class="legend">
              <span class="blue">
                Cheque
              </span>
              <span class="pink">
                Bank transfer
              </span>
            </div>
          </td>
          <td>
            <h4 class="annotation-under-right-sub-title">
              <span class="blue">Cheque</span>
              +
              <span class="pink">Bank transfer</span>
            </h4>
          </td>
        </tr>
        <tr>
          <td>
            <div id="disbursements_count_chart" ></div>
          </td>
          <td>
            <table class="table-overview">
              <tr class="border_bottom">
                <td>Last week</td>
                <td>This week</td>
              </tr>
              <tr>
                <td>{{last_week.disbursement_count}} payments</td>
                <td>{{this_week.disbursement_count}} payments</td>
              </tr>
              <tr class="table-spacing">
                <td>{{last_week.disbursement_amount|format_amount }}</td>
                <td>{{this_week.disbursement_amount|format_amount}}</td>
              </tr>

              <tr class="border_bottom">
                <td>Last month</td>
                <td>This month</td>
              </tr>
              <tr>
                <td>{{last_month.disbursement_count}} payments</td>
                <td>{{this_month.disbursement_count}} payments</td>
              </tr>
              <tr class="table-spacing">
                <td>{{last_month.disbursement_amount|format_amount }}</td>
                <td>{{this_month.disbursement_amount|format_amount}}</td>
              </tr>

              <tr class="border_bottom">
                <td>Last year</td>
                <td>This year</td>
              </tr>
              <tr>
                <td>{{last_year.disbursement_count}} payments</td>
                <td>{{this_year.disbursement_count}} payments</td>
              </tr>
              <tr class="table-spacing">
                <td>{{last_year.disbursement_amount|format_amount }}</td>
                <td>{{this_year.disbursement_amount|format_amount}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>

    <div id="table_1" class="size-of-page" style="display:none">
      <div class="main-title">
        <h1><strong>Credits</strong> (Money to prisoners)</h1>
      </div>

      <table class="main-table">
        <tr>
          <td>
            <h2 id="credit_bar_chart_title" style="display:block">Number of monthly credits</h2>
            <h2 id="digital_take_up_ratio_title" style="display:none">Digital take-up</h2>
          </td>
          <td class="width-of-right-sub-title">
            <h2>Digital credits</h2>
          </td>
        </tr>
        <tr>
          <td>
            <div id="credits_legend" class="legend">
              <span class="yellow">
                Debit card
              </span>
              <span class="pink">
                Bank transfer
              </span>
              <span class="purple">
                Post
              </span>
            </div>
            <div id="digital_takeup_legend" class="legend" style="display:none">
              <span class="green">
                Debit card + Bank transfer
              </span>
              <span class="blue">
                Post
              </span>
            </div>
          </td>
          <td>
            <h4 class="annotation-under-right-sub-title">
              <span class="yellow">Debit card</span>
              +
              <span class="pink">Bank transfer</span>
            </h4>
          </td>
        </tr>
        <tr>
          <td>
            <div id="credit_bar_chart" style="display:block"></div>
            <div id="digital_take_up_ratio" style="display:none"></div>
          </td>
          <td>
            <table class="table-overview">
              <tr class="border_bottom">
                <td>Last week</td>
                <td>This week</td>
              </tr>
              <tr>
                <td>{{last_week.credit_count}} credits</td>
                <td>{{this_week.credit_count}} credits</td>
              </tr>
              <tr class="table-spacing">
                <td>{{last_week.credit_amount|format_amount}}</td>
                <td>{{this_week.credit_amount|format_amount}}</td>
              </tr>

              <tr class="border_bottom">
                <td>Last month</td>
                <td>This month</td>
              </tr>
              <tr>
                <td>{{last_month.credit_count}} credits</td>
                <td>{{this_month.credit_count}} credits</td>
              </tr>
              <tr class="table-spacing">
                <td>{{last_month.credit_amount|format_amount}}</td>
                <td>{{this_month.credit_amount|format_amount}}</td>
              </tr>

              <tr class="border_bottom">
                <td>Last year</td>
                <td>This year</td>
              </tr>
              <tr>
                <td>{{last_year.credit_count}} credits</td>
                <td>{{this_year.credit_count}} credits</td>
              </tr>
              <tr class="table-spacing">
                <td>{{last_year.credit_amount|format_amount}}</td>
                <td>{{this_year.credit_amount|format_amount}}</td>
              </tr>
            </table>
            <div class="satisfaction-box">
              <h2>User satisfaction</h2>
              <h3>{{user_satisfaction}}%</h3>
            </div>
            <div class="money-saved-box">
              <h2>Gov savings enabled</h2>
              <h3>{{savings|format_amount}}</h3>
              <h4>(in current financial year)</h4>
            </div>
          </td>
        </tr>
      </table>
    </div>
</body>
</html>
