{% extends 'admin/base_site.html' %}
{% load admin_urls %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/upload-spreadsheet-sample.css' %}"/>
{% endblock %}

{% block bodyclass %}{{ block.super }} change-form{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; {{ title }}
  </div>
{% endblock %}

{% block content %}
  <div id="content-main">
    <form method="post" enctype="multipart/form-data">
      {% if errors %}
        {{ form.non_field_errors }}
      {% endif %}
      <fieldset class="module aligned">
        {{ form.as_p }}
        <p>
          {% blocktrans trimmed with link='https://support.publishing.service.gov.uk/anonymous_feedback' search='/done/send-prisoner-money' %}
            This file is exported from <a href="{{ link }}">GOV.UK Publishing › Support › Feedback Explorer</a>.
            Search by URL using <code>{{ search }}</code> then filter by date range.
          {% endblocktrans %}
        </p>
        <p>
          <img src="{% static 'images/user-satisfaction-spreadsheet.jpg' %}" class="upload-spreadsheet-sample" alt="{{ title }}">
        </p>
      </fieldset>

      <div class="submit-row">
        {% csrf_token %}
        <input type="submit" value="{% trans 'Upload' %}" class="default">
      </div>
    </form>
  </div>
{% endblock %}
