{% extends 'admin/change_list.html' %}
{% load i18n %}
{% load credit %}
{% load tick_charts %}

{% block object-tools-items %}
  <li>
    <a href="{% url 'admin:digital_takeup_upload' %}" class="addlink">{% trans 'Upload spreadsheet' %}</a>
  </li>
  {{ block.super }}
{% endblock %}

{% block filters %}
  {% tick_chart values=cl.queryset.digital_takeup_per_day stride_field='date' value_field='digital_takeup_per_day' max_value=1.0 %}

  <div class="actions">
    {% trans 'Average digital take-up' %}:
    {{ cl.queryset.mean_digital_takeup|format_percentage }}
  </div>

  {{ block.super }}
{% endblock %}
