{% extends 'admin/base_site.html' %}
{% load i18n %}
{% load static %}
{% load credit %}
{% load simple_admin %}


{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/changelists.css' %}" />
{% endblock %}

{% block bodyclass %}{{ block.super }} change-list{% endblock %}

{% block content %}
<p>
  <strong>{% trans 'Note' %}:</strong>
  {% trans 'Digital take-up is only known in public prisons so private prisons are not listed.' %}
</p>

<div id="content-main">
<div id="changelist" class="module filtered">
  <div id="changelist-filter">
    <h2>{% trans 'Filter' %}</h2>
    <h3>{{ form.days.label }}</h3>
    {% admin_choice_list form form.days %}
  </div>

  <div class="results">
    <table>
    <thead>
      <tr>
        <th class="{% if form.cleaned_data.order_by == 'nomis_id' %}sorted{% else %}sortable{% endif %}">
          <div class="text">
            <a href="?{{ days_query }}&amp;order_by=nomis_id{% if not form.cleaned_data.desc %}&amp;desc=1{% endif %}">
              {% trans 'Prison' %}
            </a>
          </div>
        </th>
        <th class="{% if form.cleaned_data.order_by == 'credits_by_post' %}sorted{% else %}sortable{% endif %}">
          <div class="text">
            <a href="?{{ days_query }}&amp;order_by=credits_by_post{% if not form.cleaned_data.desc %}&amp;desc=1{% endif %}">
              {% trans 'Credits by post' %}
            </a>
          </div>
        </th>
        <th class="{% if form.cleaned_data.order_by == 'credits_by_mtp' %}sorted{% else %}sortable{% endif %}">
          <div class="text">
            <a href="?{{ days_query }}&amp;order_by=credits_by_mtp{% if not form.cleaned_data.desc %}&amp;desc=1{% endif %}">
              {% trans 'Credits by digital service' %}
            </a>
          </div>
        </th>
        <th class="{% if form.cleaned_data.order_by == 'digital_takeup' %}sorted{% else %}sortable{% endif %}">
          <div class="text">
            <a href="?{{ days_query }}&amp;order_by=digital_takeup{% if not form.cleaned_data.desc %}&amp;desc=1{% endif %}">
              {% trans 'Digital takeup' %}
            </a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for prison in prisons %}
        <tr>
          <td>{{ prison.name }}</td>
          <td>{{ prison.credits_by_post|format_number }}</td>
          <td>{{ prison.credits_by_mtp|format_number }}</td>
          <td>{{ prison.digital_takeup|format_percentage }}</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
</div>
</div>
{% endblock %}
