{% extends 'core/dashboard/module.html' %}
{% load i18n %}

{% block module_thead %}
  <tr>
    <th colspan="{{ dashboard_module.column_count }}">
      {{ dashboard_module.range_title }}
    </th>
  </tr>
{% endblock %}

{% block module_tbody %}
  {% if dashboard_module.form.get_prison %}
    <tr>
      {% include 'core/dashboard/credit-report-cells/received.html' %}
      {% include 'core/dashboard/credit-report-cells/credited.html' %}
    </tr>
    <tr>
      {% include 'core/dashboard/credit-report-cells/payment-method.html' %}
      {% include 'core/dashboard/credit-report-cells/creditable.html' %}
    </tr>
    <tr>
      {% include 'core/dashboard/credit-report-cells/bank-transfer-references.html' %}
      {% include 'core/dashboard/credit-report-cells/bank-transfer-issues.html' %}
    </tr>
  {% else %}
    <tr>
      {% include 'core/dashboard/credit-report-cells/received.html' %}
      {% include 'core/dashboard/credit-report-cells/credited.html' %}
      {% include 'core/dashboard/credit-report-cells/refunded.html' %}
    </tr>
    <tr>
      {% include 'core/dashboard/credit-report-cells/payment-method.html' %}
      {% include 'core/dashboard/credit-report-cells/creditable.html' %}
      {% include 'core/dashboard/credit-report-cells/error-rate.html' %}
    </tr>
    <tr>
      {% include 'core/dashboard/credit-report-cells/top-prisons.html' %}
      {% include 'core/dashboard/credit-report-cells/bank-transfer-references.html' %}
      {% include 'core/dashboard/credit-report-cells/bank-transfer-issues.html' %}
    </tr>
  {% endif %}

  <tr style="height: 50%">
    <td colspan="{{ dashboard_module.column_count }}">
      <script>
        var creditReportData = {{ dashboard_module.chart.data }};
      </script>
      <div id="credit-chart"></div>
    </td>
  </tr>
{% endblock %}

{% block module_tfoot %}
  {% if dashboard_module.change_list_url %}
      <tr>
        <td colspan="{{ dashboard_module.column_count }}">
          <a href="{{ dashboard_module.change_list_url }}">{% trans 'View credits list' %}</a>
        </td>
      </tr>
  {% endif %}
{% endblock %}
