{% extends 'core/dashboard/module.html' %}
{% load i18n %}
{% load credit %}
{% load prison %}

{% block module_thead %}
  <tr>
    <th colspan="{{ dashboard_module.column_count }}">
      {{ dashboard_module.range_title }}
    </th>
  </tr>
{% endblock %}

{% block module_tbody %}
  <tr>
    <td>
      <div class="credit-stat">
        <strong>
            <span class="credit-stat--valign">
              {{ dashboard_module.received_count|format_number }}
              <sub>{{ dashboard_module.received_amount|format_amount }}</sub>
            </span>
          </strong>
        {% trans 'Received' %}
      </div>
    </td>
    <td>
      <div class="credit-stat">
        {% if dashboard_module.creditable_count == dashboard_module.credited_count %}
          <strong>
            <span class="credit-stat--valign">
              {{ dashboard_module.creditable_count|format_number }}
              <sub>{{ dashboard_module.creditable_amount|format_amount }}</sub>
            </span>
          </strong>
          {% trans 'Credited' %}
        {% else %}
          <strong>
            <span title="{% trans 'Marked as credited through the Cashbook tool' %}">{{ dashboard_module.credited_count|format_number }}</span>
            ／
            <span class="credit-stat--valign">
              {{ dashboard_module.creditable_count|format_number }}
              <sub>{{ dashboard_module.creditable_amount|format_amount }}</sub>
            </span>
          </strong>
          {% trans 'Credited' %} / {% trans 'Creditable' %}
        {% endif %}
      </div>
    </td>
    <td>
      <div class="credit-stat">
        {% if dashboard_module.refundable_count == dashboard_module.refunded_count %}
          <strong>
            <span class="credit-stat--valign">
              {{ dashboard_module.refundable_count|format_number }}
              <sub>{{ dashboard_module.refundable_amount|format_amount }}</sub>
            </span>
          </strong>
          {% trans 'Refunded' %}
        {% else %}
          <strong>
            <span title="{% trans 'Refunds file downloaded through the Bank Admin tool' %}">{{ dashboard_module.refunded_count|format_number }}</span>
            ／
            <span class="credit-stat--valign">
              {{ dashboard_module.refundable_count|format_number }}
              <sub>{{ dashboard_module.refundable_amount|format_amount }}</sub>
            </span>
          </strong>
          {% trans 'Refunded' %} / {% trans 'Refundable' %}
        {% endif %}
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="credit-stat">
        <dl>
          <dd>{% trans 'Received by method' %}</dd>

          <dt>{% trans 'Bank transfer' %}:</dt>
          <dd>{{ dashboard_module.received_transaction_count|format_number }}</dd>

          <dt>{% trans 'Debit card' %}:</dt>
          <dd>{{ dashboard_module.received_payment_count|format_number }}</dd>
        </dl>
      </div>
    </td>
    <td>
      <div class="credit-stat" title="{% trans 'Proportion of creditable that is debit card payments' %}">
        <strong>{{ dashboard_module.creditable_payment_proportion|format_percentage }}</strong>
        {% trans 'Debit cards' %}
      </div>
    </td>
    <td>
      <div class="credit-stat" title="{% trans 'Proportion of incoming credits that cannot be credited. NB: debit card error rate is not well tracked' %}">
        <strong>{{ dashboard_module.error_rate|format_percentage }}</strong>
        {% trans 'Error rate' %}
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="credit-stat">
        <dl>
          <dd>{% trans 'Received by prison' %}</dd>
          {% for creditable_prison in dashboard_module.get_top_recevied_by_prison %}
            <dt>{{ creditable_prison.prison|short_prison_name|default_if_none:_('No prison') }}:</dt>
            <dd>{{ creditable_prison.count|format_number }}</dd>
          {% empty %}
            <dt>–</dt>
          {% endfor %}
        </dl>
      </div>
    </td>
    <td>
      <div class="credit-stat">
        <dl>
          <dd>{% trans 'Bank transfer references' %}</dd>

          <dt title="{% trans 'References that can be read as a prisoner number and date of birth' %}">{% trans 'Readable' %}:</dt>
          <dd>{{ dashboard_module.valid_reference_count|format_number }}</dd>

          <dt title="{% trans 'References using the / delimited format as generated by send-money' %}">{% trans 'Slash-format' %}:</dt>
          <dd>{{ dashboard_module.references_with_slash_count|format_number }}</dd>

          <dt title="References that can be read but do not match a prisoner">{% trans 'Unmatched' %}:</dt>
          <dd>{{ dashboard_module.unmatched_reference_count|format_number }}</dd>

          <dt title="{% trans 'References that cannot be read as a prisoner number and date of birth' %}">{% trans 'Invalid' %}:</dt>
          <dd>{{ dashboard_module.invalid_reference_count|format_number }}</dd>
        </dl>
      </div>
    </td>
    <td>
      <div class="credit-stat">
        <dl>
          <dd>{% trans 'Bank transfer issues' %}</dd>

          <dt title="{% trans 'Bank transfers that contained incomplete sender information' %}">{% trans 'Anonymous' %}:</dt>
          <dd>{{ dashboard_module.anonymous_count|format_number }}</dd>

          <dt title="{% trans 'Bank transfers that do not match a prisoner and cannot be refunded' %}">{% trans 'Unidentified' %}:</dt>
          <dd>{{ dashboard_module.unidentified_count|format_number }}</dd>

          <dt title="{% trans 'Bank transfers marked as administrative, e.g. WorldPay settlements or NOMS reimbursing a payment out to a supplier' %}">{% trans 'Administrative' %}:</dt>
          <dd>{{ dashboard_module.anomalous_count|format_number }}</dd>
        </dl>
      </div>
    </td>
  </tr>

  <tr style="height: 50%">
    <td colspan="{{ dashboard_module.column_count }}">
      <script>
        var creditReportData = {{ dashboard_module.chart.data }};
      </script>
      <div id="credit-chart"></div>
    </td>
  </tr>
{% endblock %}

{% block module_tfoot %}
  {% if dashboard_module.change_list_url %}
      <tr>
        <td colspan="{{ dashboard_module.column_count }}">
          <a href="{{ dashboard_module.change_list_url }}">{% trans 'View credits list' %}</a>
        </td>
      </tr>
  {% endif %}
{% endblock %}
