{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}

{% block extrahead %}
  {{ block.super }}

  <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {{ combined_media }}
{% endblock %}
{% block extrastyle %}
  {{ block.super }}

  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
{% endblock %}

{% block content %}
  <div id="content-main">
    <ul class="object-tools">
      <li>
        <label id="mtp-dashboard-autoreload" title="{% blocktrans with count=view.reload_interval %}Reloads every {{ count }} seconds{% endblocktrans %}">
          <input type="checkbox" checked>
          {% trans 'Auto-reload' %}
        </label>
      </li>
    </ul>

    <div id="mtp-dashboard" data-reload-interval="{{ view.reload_interval }}" data-cookie-name="{{ view.cookie_name }}" data-standout-cookie-name="{{ view.standout_cookie_name }}">
      {% for dashboard_module in dashboard_modules %}
        {% include dashboard_module.template with dashboard=view dashboard_module=dashboard_module only %}
      {% endfor %}
    </div>

  </div>
{% endblock %}
