{% load i18n %}

{% block module %}
  <div id="{{ dashboard_module.html_id }}" class="module mtp-dashboard-module">
    {% if dashboard.fullscreen %}
      <a href="{% url 'admin:dashboard' %}" class="mtp-dashboard-toggle-full-screen" data-close-label="{% trans 'Close' %}">
        {% trans 'Full-screen' %}
      </a>
    {% endif %}
    <table>
      <caption>
        <a href="{% url 'admin:dashboard_fullscreen' slug=dashboard_module.slug %}" title="{% trans 'Show in full-screen' %}">
          {{ dashboard_module.title }}
        </a>
        {% if dashboard_module.form %}
          <span class="float-right">
            <a href="#" class="js-mtp-dashboard-change changelink">{% trans 'Change' %}</a>
          </span>
        {% endif %}
      </caption>
      <thead>
        {% block module_thead %}{% endblock %}
      </thead>
      <tbody>
        {% if dashboard_module.form %}
          <tr class="mtp-dashboard-change">
            <th colspan="{{ dashboard_module.column_count }}">
              <form class="{% if not dashboard_module.form.is_valid %}invalid{% endif %} {% if not dashboard_module.form.prevent_auto_reload %}mtp-auto-reload{% endif %}" data-cookie-key="{{ dashboard_module.slug }}">
                {{ dashboard_module.form.as_p }}
                {% if dashboard_module.form.prevent_auto_reload %}
                  <input type="submit" value="{% trans 'Update' %}">
                {% endif %}
              </form>
            </th>
          </tr>
        {% endif %}
        {% block module_tbody %}{% endblock %}
      </tbody>
      <tfoot>
        {% block module_tfoot %}{% endblock %}
      </tfoot>
    </table>
  </div>
{% endblock %}
