{% load i18n %}

{% block module %}
  <div id="{{ dashboard_module.html_id }}" class="module mtp-dashboard-module {{ dashboard_module.html_classes }}">
    {% if dashboard_module.show_stand_out %}
      <a href="#" class="mtp-dashboard-standout-show js-mtp-dashboard-standout">{% trans 'Hide' %}</a>
    {% endif %}
    <table>
      <caption class="mtp-dashboard-standout-hide">
        <a href="{% url 'admin:dashboard_single' slug=dashboard_module.slug %}">{{ dashboard_module.title }}</a>
        <span class="float-right">
          {% if dashboard_module.show_stand_out %}
            <a href="#" class="js-mtp-dashboard-standout">{% trans 'Stand out' %}</a>
          {% endif %}
          {% if dashboard_module.form %}
            <a href="#" class="js-mtp-dashboard-change changelink">{% trans 'Change' %}</a>
          {% endif %}
        </span>
      </caption>
      <thead>
        {% block module_thead %}{% endblock %}
      </thead>
      <tbody>
        {% if dashboard_module.form %}
          <tr class="mtp-dashboard-change">
            <th colspan="{{ dashboard_module.column_count }}">
              <form class="{% if not dashboard_module.form.is_valid %}invalid{% endif %} {% if not dashboard_module.form.prevent_auto_reload %}mtp-auto-reload{% endif %}" data-cookie-key="{{ dashboard_module.slug }}">
                {{ dashboard_module.form.as_p }}
                {% if dashboard_module.form.prevent_auto_reload %}
                  <input type="submit" value="{% trans 'Update' %}">
                {% endif %}
              </form>
            </th>
          </tr>
        {% endif %}
        {% block module_tbody %}{% endblock %}
      </tbody>
      <tfoot>
        {% block module_tfoot %}{% endblock %}
      </tfoot>
    </table>
  </div>
{% endblock %}
