{% extends "admin/index.html" %}
{% load i18n %}

{% block sidebar %}

  {{ block.super }}

  {% if ENVIRONMENT != 'prod' and user.is_superuser %}
    <div class="module" id="test-data-module" style="clear:left">
      <h2>{% trans 'Testing' %}</h2>
      <table>
        <tbody>
          <tr>
            <th>{% trans 'Delete and recreate sample data for user testing' %}</th>
            <td>
              <a href="{% url 'mtp-admin:recreate_test_data' %}" class="deletelink" title="{% trans 'This cannot be undone!' %}">
                {% trans 'Recreate' %}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endif %}

{% endblock %}
