{% extends 'admin/base_site.html' %}
{% comment %}TODO: Remove once all apps move to NOMIS Elite2 {% endcomment %}
{% load i18n %}
{% load admin_urls %}
{% load mtp_common %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; {{ view.title }}
  </div>
{% endblock %}

{% block content %}
  <div id="content-main">

    <p>
      {% trans 'NOMIS API client tokens typically expire after 1 year.' %}
      {% if token %}
        {% blocktrans trimmed with expiry_date=token.expires|date|default:_('unknown date')|wrapwithtag:'strong' %}
          Current token expires on {{ expiry_date }}.
        {% endblocktrans %}
      {% endif %}
    </p>
    {% if not token %}
      <p class="errornote">
        {% trans 'There is currently no client token saved.' %}
      </p>
    {% endif %}
    <ol>
      <li>
        {% url 'admin:download_public_key' as link %}
        {% blocktrans trimmed with link=_('public key')|wraplink:link %}
          Download {{ link }}.
        {% endblocktrans %}
      </li>
      <li>
        {% blocktrans trimmed with website=_('NOMIS API')|wraplink:'https://nomis-api-access.service.justice.gov.uk/' %}
          Upload public key to {{ website }} to request a new token.
        {% endblocktrans %}
        {% if token %}
          <p>
            {% trans 'The current token has these permissions:' %}
          </p>
          <code style="white-space:pre-line">{{ token_permissions }}</code>
        {% endif %}
      </li>
      <li>
        {% trans 'NOMIS API team manually approve the request.' %}
      </li>
      <li>
        {% trans 'Save the token file received by email:' %}

        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <p>
            <input type="submit" value="{% trans 'Save' %}">
          </p>
        </form>
      </li>
    </ol>

  </div>
{% endblock %}
