{% extends 'admin/base_site.html' %}
{% load static %}
{% load i18n %}

{% url 'admin:recreate_test_data' as this_url %}

{% block content %}

<div id="content-main">
  {% if form.is_valid %}

    <p><a href="{{ this_url }}">{% trans 'Run again' %}</a></p>

    <h3>{% trans 'Output log' %}</h3>
    <code style="white-space:pre-line">{{ command_output }}</code>

  {% else %}

    <p class="errornote">
      {% trans 'These actions will delete and recreate sample data. They cannot be undone.' %}
    </p>
    <form action="{{ this_url }}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <p>
        <input type="submit" value="{% trans 'Recreate' %}">
      </p>

    </form>

  {% endif %}
</div>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script>
  $(document).ready(function() {
    $('#id_scenario').on(
      'change', function(eventObject) {
        if (eventObject.target.selectedOptions[0] === $('#id_scenario > option[value=production-scale]')[0]){
          $('form > p > input').prop('disabled', true);
        } else {
          $('form > p > input').prop('disabled', false);
        }
      }
    )
  });
</script>

{% endblock %}
